<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex shrink>
        <v-btn
          large
          color="secondary"
          @click="startQuestionnaireFilling"
        >
          {{ startQuestionnaireButtonLabelText }}
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { ComponentName as CandidateQuestionnaireName } from '@/modules/CandidateQuestionnaire'
  export default {
    name: 'DirectStartedQuestionnairePage',
    computed: {
      ...mapGetters([
        'startQuestionnaireButtonLabelText',
        'getQuestionnaireUuid'
      ])
    },
    created () {
      this.$store.dispatch('clearUuid')
    },
    methods: {
      startQuestionnaireFilling () {
        this.$store.dispatch('getNewQuestionnaireId')
          .then(() =>
            this.$router.push({
              name: `${CandidateQuestionnaireName}-uuid`,
              params: { uuid: this.getQuestionnaireUuid }
            })
          )
          .catch(() => console.debug('Error when uuid catching'))
      }
    }
  }
</script>

<style scoped>

</style>
