<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Ссылка на анкету</title>
</head>
<body>
    <h3>Добрый день,</h3>


    <h3>Для заполнения анкеты кандидата пройдите, пожалуйста, по ссылке:</h3>

    <div>
        <h4><a href="{{ host }}/#/candidate-questionnaire/{{ _uuid }}"> {{ host }}/#/candidate-questionnaire/{{ _uuid }}</a></h4>
    </div>
    <div>
        <em>Ювелирная сеть “585 GOLD”</em>
    </div>
    <p></p>
    <div>
        Пожалуйста, не отвечайте на это письмо, оно было сгенерировано автоматически.
    </div>

</body>
</html>