<template>
  <v-container fluid fill-height>
    <v-toolbar app fixed clipped-left color="primary">
      <!--<v-toolbar-side-icon>-->
      <!--&lt;!&ndash;<router-link :to="{path: 'name'}" tag="span" style="cursor: pointer">585</router-link>&ndash;&gt;-->
      <!--</v-toolbar-side-icon>-->
      <v-tooltip disabled bottom>
      <v-btn v-if="showStartButton()" slot="activator" block disabled flat></v-btn>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        АНКЕТА КАНДИДАТА
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn
          v-if="showStartButton()"
          slot="activator"
          block
          color="secondary"
          @click="startNewQuestionnaireAgreementDialog = true"
        >
          {{ startNewQuestionnaireButtonText }}
        </v-btn>
        <span> {{startNewQuestionnaireToolTipText}} </span>
      </v-tooltip>
    </v-toolbar>
    <v-content class="fill-height">
      <router-view/>
    </v-content>
    <v-footer app fixed>
      <span>&copy; 2018</span>
    </v-footer>
    <v-dialog
      v-model="startNewQuestionnaireAgreementDialog"
      max-width="390"
    >
      <v-card>
        <v-card-title class="headline">{{ leaveCurrentQuestionnaireAgreementTitleText }}</v-card-title>

        <v-card-text>
          {{ leaveCurrentQuestionnaireAgreementDetailText }}
        </v-card-text>

        <v-card-actions>
        <v-container>
          <v-layout wrap>
            <v-flex xs12 sm12 md12 lg12 xl12>
              <v-btn
                color="error"
                flat="flat"
                @click="goToStartNewQuestionnairePage"
              >
                {{leaveAgreementYesButtonText}}
              </v-btn>
            </v-flex>
            <v-flex>
              <v-btn
                color="success"
                flat="flat"
                @click="startNewQuestionnaireAgreementDialog = false"
              >
                {{leaveAgreementNoButtonText}}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'

  const componentName = 'MainLayoutComponent'
  export default {
    name: componentName,
    data () {
      return {
        name: componentName,
        startNewQuestionnaireAgreementDialog: false
      }
    },
    computed: {
      ...mapGetters([
        'startNewQuestionnaireButtonText',
        'startNewQuestionnaireToolTipText',
        'leaveCurrentQuestionnaireAgreementTitleText',
        'leaveCurrentQuestionnaireAgreementDetailText',
        'leaveAgreementYesButtonText',
        'leaveAgreementNoButtonText'
      ])
    },
    methods: {
      goToStartNewQuestionnairePage () {
        this.$router.push({name: 'StartedQuestionnairePage'})
        this.startNewQuestionnaireAgreementDialog = false
      },
      showStartButton () {
        console.debug('showStartButton this.$router.history.current.name', this.$router.history.current.name)
        return this.$router.history.current.name === 'CandidateQuestionnaireComponent-uuid'
      }
    }
  }
</script>

<style scoped>

</style>
