<template>
  <v-fab-transition>
    <v-card
      flat
      class="saved-button-card"
    >
    <v-tooltip left >
      <v-btn
        slot="activator"
        style="z-index: 3"
        :color="buttonColor"
        v-show="fab"
        @click="saveUserQuestionnaireData"
        large
        :loading="loadingState"
        :disabled="loadingState || buttonDisable"
      >
        <v-icon>save</v-icon>
        {{ savedButtonLabelText }}
      </v-btn>
      <span>{{ toolTipLabelOrDefaultText }}</span>
    </v-tooltip>
    </v-card>
  </v-fab-transition>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'AppFab',
    props: {
      buttonDisable: {
        type: Boolean,
        default: false
      },
      buttonColor: {
        type: String,
        default: 'success'
      },
      toolTipLabelText: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        fab: true
      }
    },
    methods: {
      saveUserQuestionnaireData () {
        this.$emit('save-user-questionnaire-data')
      }
    },
    computed: {
      ...mapGetters([
        'loadingState',
        'savedButtonLabelText'
      ]),
      toolTipLabelOrDefaultText () {
        return this.toolTipLabelText ? this.toolTipLabelText : this.savedButtonLabelText
      }
    }
  }
</script>

<style scoped>
  .saved-button-card {
    position: fixed;
    bottom: 50px;
    right: 10px;
    padding: 0;
  }
</style>
