<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ additionalDataCardTitleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <v-flex xs12 sm12 md8 lg8 xl8>
          <v-textarea
            name="input-7-1"
            :label="pcKnowledgeLevelLabelText"
            :placeholder="pcKnowledgeLevelPlaceholderText"
            :hint="pcKnowledgeLevelHintText"
            :rows="3"
            :value="pcKnowledgeLevel"
             @blur="setUserInputValue('pcKnowledgeLevel', $event)"
            :error-messages="inputFieldsErrors('pcKnowledgeLevel')"
            clearable
          ></v-textarea>
        </v-flex>
        <!--Владения языками-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap justify-end>
            <v-flex>
              <h3>
                {{ foreignLanguagesTitleText }}
              </h3>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in foreignLanguages" row wrap :key="index">
            <v-flex xs6 sm6 md4 lg4 x4>
              <v-select
                :label="foreignLanguageTitleLabelText"
                :placeholder="foreignLanguageTitlePlaceholderText"
                :hint="foreignLanguageTitleHintText"
                :value="dataRow.title"
                :items="foreignLanguagesTitles"
                @input="setValueToListItem('foreignLanguages', index, 'title', $event)"
                :error-messages="inputOfListItemFieldsErrors('foreignLanguages', index, 'title')"
                item-value="uuid"
                item-text="text"
                clearable
              ></v-select>
            </v-flex>
            <v-flex xs6 sm6 md4 lg4 xl4>
              <v-select
                :label="foreignLanguageLabelText"
                :placeholder="foreignLanguagePlaceholderText"
                :hint="foreignLanguageHintText"
                :value="dataRow.level"
                :items="foreignLanguagesLevels"
                @input="setValueToListItem('foreignLanguages', index, 'level', $event)"
                :error-messages="inputOfListItemFieldsErrors('foreignLanguages', index, 'level')"
                item-value="uuid"
                item-text="text"
                clearable
              ></v-select>
            </v-flex>
            <v-flex xs1 sm1 md1 lg1 xl1>
              <v-tooltip bottom>
                <v-btn
                  slot="activator"
                  small
                  color="error"
                  @click="removeItemList('foreignLanguages', index)"
                >
                  <v-icon>remove_circle_outline</v-icon>
                </v-btn>
                <span> {{ foreignLanguageRemoveButtonTooltipLabelText }} </span>
              </v-tooltip>
            </v-flex>
          </v-layout>
        </v-flex>
        <!--Упраление полями-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap>
            <v-flex class="py-0">
              <v-layout>
                <v-btn
                  color="accent"
                  @click="addNewItemToCollection('foreignLanguages')"
                >
                  <v-icon>add</v-icon>
                  {{ foreignLanguageAddButtonLabelText }}
                </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12></v-flex>
        <v-flex xs6 sm6 md4 lg4 x4>
          <v-select
            :label="whereFindVacancyLabelText"
            :placeholder="whereFindVacancyPlaceholderText"
            :hint="whereFindVacancyHintText"
            :value="whereFindVacancy"
             @input="setUserInputValue('whereFindVacancy', $event)"
            :error-messages="inputFieldsErrors('whereFindVacancy')"
            :items="workFoundedPlaces"
            item-value="placeValue"
            item-text="educationText"
            clearable
          ></v-select>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12></v-flex>
        <v-flex xs6 sm6 md10 lg8 xl6>
              <v-checkbox
                :label="checkPersonalDataAgreementByPolygraphLabelText"
                :input-value="checkPersonalDataAgreementByPolygraph"
                @change="setUserInputValue('checkPersonalDataAgreementByPolygraph', $event)"
              ></v-checkbox>
        </v-flex>
        <v-flex xs6 sm6 md10 lg8 xl6>
              <v-checkbox
                :label="badHabitsHavingLabelText"
                :input-value="badHabitsHaving"
                @change="setUserInputValue('badHabitsHaving', $event)"
              ></v-checkbox>
        </v-flex>
         <v-flex xs6 sm6 md10 lg8 xl6>
              <v-checkbox
                :label="criminalConvictionAdministrativeOffensesLabelText"
                :input-value="criminalConvictionAdministrativeOffenses"
                @change="setUserInputValue('criminalConvictionAdministrativeOffenses', $event)"
              ></v-checkbox>
        </v-flex>

        <v-flex xs12 sm12 md12 lg12 xl12>
          <h3>{{ salaryLevelWantedTitleText }}</h3>
        </v-flex>
        <v-flex xs6 sm6 md4 lg2 xl2>
          <v-text-field
            :label="salaryLevelWantedNowLabelText"
            :placeholder="salaryLevelWantedNowPlaceholderText"
            :hint="salaryLevelWantedNowHintText"
            :value="salaryLevelWantedNow"
             @blur="setUserInputValue('salaryLevelWantedNow', $event)"
            :error-messages="inputFieldsErrors('salaryLevelWantedNow')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg2 xl2>
          <v-text-field
            :label="salaryLevelWantedBeforeYearLabelText"
            :placeholder="salaryLevelWantedBeforeYearPlaceholderText"
            :hint="salaryLevelWantedBeforeYearHintText"
            :value="salaryLevelWantedBeforeYear"
             @blur="setUserInputValue('salaryLevelWantedBeforeYear', $event)"
            :error-messages="inputFieldsErrors('salaryLevelWantedBeforeYear')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg2 x2>
          <v-text-field
            :label="salaryLevelWantedBeforeThreeYearsLabelText"
            :placeholder="salaryLevelWantedBeforeThreeYearsLabelText"
            :hint="salaryLevelWantedBeforeThreeYearsHintText"
            :value="salaryLevelWantedBeforeThreeYears"
             @blur="setUserInputValue('salaryLevelWantedBeforeThreeYears', $event)"
            :error-messages="inputFieldsErrors('salaryLevelWantedBeforeThreeYears')"
            clearable
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-autocomplete
            :label="personalHobbyLabelText"
            :placeholder="personalHobbyPlaceholderText"
            :hint="personalHobbyHintText"
            :items="hobbiesInterests"
            hide-selected
            :value="personalHobby"
             @input="setUserInputValue('personalHobby', $event)"
            :error-messages="inputFieldsErrors('personalHobby')"
            item-value="uuid"
            item-text="text"
            multiple
            clearable
          ></v-autocomplete>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-textarea
            name="input-7-1"
            :label="additionalNotationLabelText"
            :placeholder="additionalNotationPlaceholderText"
            :hint="additionalNotationHintText"
            :rows="3"
            :value="additionalNotation"
             @blur="setUserInputValue('additionalNotation', $event)"
            :error-messages="inputFieldsErrors('additionalNotation')"
            clearable
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {validationMixin} from 'vuelidate'
  import {required, numeric} from 'vuelidate/lib/validators'
  import { ForeignLanguage } from './models'
  import {
    DYNAMIC_SELECTION_FOREIGN_LANGUAGES,
    DYNAMIC_SELECTION_FOREIGN_FOREIGN_LANGUAGES_LEVELS,
    DYNAMIC_SELECTION_INTERESTS
  } from './validatorsAndFormatters'

  export default {
    name: 'AdditionalData',
    mixins: [validationMixin],
    validations () {
      return {
        pcKnowledgeLevel: {
          required
        },
        personalHobby: {
        },
        salaryLevelWantedNow: {
          required,
          numeric
        },
        salaryLevelWantedBeforeYear: {
          required,
          numeric
        },
        salaryLevelWantedBeforeThreeYears: {
          required,
          numeric
        },
        foreignLanguages: {
          $each: ForeignLanguage.formValidators()
        },
        checkPersonalDataAgreementByPolygraph: {},
        badHabitsHaving: {},
        criminalConvictionAdministrativeOffenses: {},
        whereFindVacancy: {
          required
        },
        additionalNotation: {
        }
      }
    },
    watch: {
      // componentDataIsValid: function () {
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        // Лейблы и названия
        'additionalDataCardTitleText',
        'additionalDataCardTitleText',
        'pcKnowledgeLevelLabelText',
        'pcKnowledgeLevelPlaceholderText',
        'pcKnowledgeLevelHintText',
        'foreignLanguagesTitleText',
        'foreignLanguageTitleLabelText',
        'foreignLanguageTitlePlaceholderText',
        'foreignLanguageTitleHintText',
        'foreignLanguageLabelText',
        'foreignLanguagePlaceholderText',
        'foreignLanguageHintText',
        'foreignLanguageRemoveButtonTooltipLabelText',
        'foreignLanguageAddButtonLabelText',
        'whereFindVacancyLabelText',
        'whereFindVacancyPlaceholderText',
        'whereFindVacancyHintText',
        'checkPersonalDataAgreementByPolygraphLabelText',
        'badHabitsHavingLabelText',
        'criminalConvictionAdministrativeOffensesLabelText',
        'additionalNotationLabelText',
        'additionalNotationPlaceholderText',
        'additionalNotationHintText',
        'salaryLevelWantedTitleText',
        'salaryLevelWantedNowLabelText',
        'salaryLevelWantedNowPlaceholderText',
        'salaryLevelWantedNowHintText',
        'salaryLevelWantedBeforeYearLabelText',
        'salaryLevelWantedBeforeYearPlaceholderText',
        'salaryLevelWantedBeforeYearHintText',
        'salaryLevelWantedBeforeThreeYearsLabelText',
        'salaryLevelWantedBeforeThreeYearsPlaceholderText',
        'salaryLevelWantedBeforeThreeYearsHintText',
        'personalHobbyLabelText',
        'personalHobbyPlaceholderText',
        'personalHobbyHintText',
        // Значения и данные
        'foreignLanguages',
        'pcKnowledgeLevel',
        'personalHobby',
        'whereFindVacancy',
        'additionalNotation',
        'salaryLevelWantedNow',
        'salaryLevelWantedBeforeYear',
        'salaryLevelWantedBeforeThreeYears',
        'checkPersonalDataAgreementByPolygraph',
        'badHabitsHaving',
        'criminalConvictionAdministrativeOffenses',
        'allowedWorkFoundedPlaces',
        // Сервисные методы
        'clearValue'
      ]),
      foreignLanguagesTitles () {
        return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_FOREIGN_LANGUAGES)
      },
      foreignLanguagesLevels () {
        return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_FOREIGN_FOREIGN_LANGUAGES_LEVELS)
      },
      hobbiesInterests () {
        return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_INTERESTS)
      },
      workFoundedPlaces () {
        return Object.keys(this.allowedWorkFoundedPlaces)
          .map(placeValue => ({
            placeValue,
            educationText: this.allowedWorkFoundedPlaces[placeValue]
          }))
      },
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      inputOfListItemFieldsErrors () {
        return (collectionName, index, fieldName) =>
          this.$v[collectionName].$each[index][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v[collectionName].$each[index][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        this.$v.$touch()
      },
      setUserInputValue (fieldName, event) {
        console.debug('setUserInputValue  fieldName', fieldName)
        console.debug('setUserInputValue  event', event)
        let value = this.clearValue(event)
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      addNewItemToCollection (collectionName) {
        console.debug('addNewItemToCollection collectionName', collectionName)
        this.$store.dispatch('addNewItemToCollection', collectionName)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removeItemList (collectionName, index) {
        this.$store.dispatch('removeItemList', {collectionName, index})
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setValueToListItem (collection, index, fieldName, event) {
        console.debug('inputFieldsErrors this.$v', this.$v)
        console.debug('inputFieldsErrors collection', collection)
        console.debug('inputFieldsErrors index', index)
        console.debug('inputFieldsErrors fieldName', fieldName)
        console.debug('inputFieldsErrors event', event)
        this.$v[collection].$each[index][fieldName].$touch()
        let value = this.clearValue(event)
        this.$store.dispatch(
          'setValueToListItem',
          {
            collection,
            index,
            fieldName,
            value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
<!--changeRelativeBlockValue (changedRelativeIndex, fieldName, blurEvent)-->
