<template>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Гражданство-->
        <v-flex xs12 sm12 md6 lg6>
          <v-text-field v-if="citizenIsEditable"
            :prepend-icon="'assignment_ind'"
            @click:prepend.ctrl.alt.67="swtithSitizenFieldToEditable"
            :label="citizenshipLabelText"
            :placeholder="citizenshipPlaceHolderText"
            :hint="citizenshipHintText"
            :error-messages="inputFieldsErrors('anotherCountryCitizenship')"
            :value="anotherCountryCitizenship"
            @blur="setUserInputValue('anotherCountryCitizenship', $event)"
            clearable
          ></v-text-field>
          <v-select v-else
            :prepend-icon="'assignment_ind'"
            @click:prepend.ctrl.alt.67="swtithSitizenFieldToEditable"
            :label="citizenshipLabelText"
            :placeholder="citizenshipPlaceHolderText"
            :hint="citizenshipHintText"
            :no-data-text="noTextForDynamicSelectionText"
            :value="anotherCountryCitizenship"
            :items="citizenshipType"
            @input="setUserInputValue('anotherCountryCitizenship', $event)"
            :error-messages="inputFieldsErrors('anotherCountryCitizenship')"
            item-value="uuid"
            item-text="text"
            clearable
          ></v-select>
        </v-flex>
        <v-flex xs12 sm12 md6 lg6>
        </v-flex>
        <!--Серия-->
        <v-flex xs12 sm12 md3 lg3>
          <v-text-field
            :label="anotherCountryPassportSeriesLabelText"
            :placeholder="anotherCountryPassportSeriesPlaceholderText"
            :hint="anotherCountryPassportSeriesHintText"
            :error-messages="inputFieldsErrors('anotherCountryPassportSeries')"
            :value="anotherCountryPassportSeries"
            @blur="setUserInputValue('anotherCountryPassportSeries', $event)"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Номер-->
        <v-flex xs12 sm12 md5 lg5>
          <v-text-field
            :label="anotherCountryPassportNumberLabelText"
            :placeholder="anotherCountryPassportNumberPlaceholderText"
            :hint="anotherCountryPassportNumberHintText"
            :error-messages="inputFieldsErrors('anotherCountryPassportNumber')"
            :value="anotherCountryPassportNumber"
            @blur="setUserInputValue('anotherCountryPassportNumber', $event)"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Date picker-->
        <v-flex xs12 sm12 md3 lg2 xl2>
          <v-menu
            :close-on-content-click="false"
            :nudge-right="40"
            ref="anotherCountryPassportIssueDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
            @input="$nextTick(() => ($refs.picker.activePicker = 'YEAR'))"
          >
            <v-text-field
              slot="activator"
              prepend-icon="event"
              :label="anotherCountryPassportIssueDateLabelText"
              :placeholder="anotherCountryPassportIssueDatePlaceholderText"
              :hint="anotherCountryPassportIssueDateHintText"
              :error-messages="inputFieldsErrors('anotherCountryPassportIssueDate')"
              :value="anotherCountryPassportIssueDate"
              @blur="setUserInputValue('anotherCountryPassportIssueDate', $event)"
              clearable
            ></v-text-field>
            <v-date-picker
              ref="picker"
              :max="new Date().toISOString().substr(0, 10)"
              :value="checkAndConvertedDate"
              @input="setPassportIssueDateByPicker"
              no-title
              scrollable
              locale="ru-ru"
            >
            </v-date-picker>
          </v-menu>
          </v-flex>
        <!--Text area кем выдан-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-textarea
            name="input-7-1"
            :label="anotherCountryPassportIssueOrganizationLabelText"
            :placeholder="anotherCountryPassportIssueOrganizationPlaceholderText"
            :hint="anotherCountryPassportIssueOrganizationHintText"
            :value="anotherCountryPassportIssueOrganization"
            @blur="setUserInputValue('anotherCountryPassportIssueOrganization', $event)"
            :error-messages="inputFieldsErrors('anotherCountryPassportIssueOrganization')"
            :rows="3"
            clearable
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { required, numeric } from 'vuelidate/lib/validators'
  import { validationMixin } from 'vuelidate'
  import { dateValueIsValid, DYNAMIC_SELECTION_CITIZENSHIP } from './validatorsAndFormatters'

  export default {
    name: 'AnotherCountryPassportData',
    mixins: [validationMixin],
    validations: {
      anotherCountryCitizenship: {
        required
      },
      anotherCountryPassportSeries: {
        required
      },
      anotherCountryPassportNumber: {
        required,
        numeric
      },
      anotherCountryPassportIssueDate: {
        required,
        dateValueIsValid
      },
      anotherCountryPassportIssueOrganization: {
        required
      }
    },
    watch: {
      componentDataIsValid: function () {
        this.$emit('component-data-is-valid', !this.$v.$invalid)
      }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    data () {
      return {
        citizenIsEditable: true
      }
    },
    computed: {
      ...mapGetters([
        'citizenshipLabelText',
        'citizenshipPlaceHolderText',
        'citizenshipHintText',
        'anotherCountryPassportSeriesLabelText',
        'anotherCountryPassportSeriesPlaceholderText',
        'anotherCountryPassportSeriesHintText',
        'anotherCountryPassportNumberLabelText',
        'anotherCountryPassportNumberPlaceholderText',
        'anotherCountryPassportNumberHintText',
        'anotherCountryPassportIssueDateLabelText',
        'anotherCountryPassportIssueDatePlaceholderText',
        'anotherCountryPassportIssueDateHintText',
        'anotherCountryPassportIssueOrganizationLabelText',
        'anotherCountryPassportIssueOrganizationPlaceholderText',
        'anotherCountryPassportIssueOrganizationHintText',
        'noTextForDynamicSelectionText',
        'anotherCountryCitizenship',
        'anotherCountryPassportSeries',
        'anotherCountryPassportNumber',
        'anotherCountryPassportIssueDate',
        'anotherCountryPassportIssueOrganization'
      ]),
      citizenshipType () {
        return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_CITIZENSHIP)
      },
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
              .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
              .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      checkAndConvertedDate () {
        const rawDate = this.$store.getters.anotherCountryPassportIssueDate
        return (dateValueIsValid(rawDate)) ? rawDate : null
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        this.$v.$touch()
      },
      swtithSitizenFieldToEditable () {
        this.citizenIsEditable = !this.citizenIsEditable
      },
      setUserInputValue (fieldName, blurEvent) {
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: blurEvent.target.value.trim()
          }
        )
      },
      setPassportIssueDateByPicker (value) {
        if (typeof value === 'string') {
          this.$refs.anotherCountryPassportIssueDate.isActive = false
        }
        this.$v.anotherCountryPassportIssueDate.$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName: 'anotherCountryPassportIssueDate',
            value: value.trim()
          }
        )
      }
    }
  }
</script>

<style scoped>

</style>
