<template>
  <v-tooltip top>
    <v-combobox
      ref="combobox"
      slot="activator"
      :prepend-icon="'autorenew'"
      @click:prepend="addressSuggestion(value, 'liveLocationSuggestions')"
      :label="label"
      :placeholder="placeholder"
      :hint="hint"
      :no-data-text="suggestionstubtext"
      v-model="liveLocation"
      :error-messages="errormessages"
      :loading="isLoading"
      :items="liveLocationSuggestions"
      @focus="setFieldTouched"
      :search-input.sync="liveLocationUserInput"
      clearable
    ></v-combobox>
    <span> {{ autocompleteRefreshSuggestTooltipText }}</span>
  </v-tooltip>
</template>

<script>
  import lodash from 'lodash'

  export default {
    name: 'ComboboxForCollectionsField',
    props: {
      label: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: ''
      },
      hint: {
        type: String,
        default: ''
      },
      suggestionstubtext: {
        type: String,
        default: ''
      },
      value: {
        type: String,
        default: ''
      },
      errormessages: {
        type: Array,
        required: true
      }
    },
    mounted () {
      this.addressSuggestion = lodash.debounce(this.addressSuggestion, 1000)
    },
    watch: {
      liveLocationUserInput: function (value) {
        console.debug('watch liveLocationUserInput value', value)
        if (value && !this.isLoading && this.localLiveLocationTouched) {
          this.addressSuggestion(value, 'liveLocationSuggestions')
        }
      }
    },
    data () {
      return {
        isLoading: false,
        localLiveLocationTouched: false,
        liveLocationSuggestions: [],
        liveLocationUserInput: ''
      }
    },
    computed: {
      autocompleteRefreshSuggestTooltipText () {
        return this.$store.getters.autocompleteRefreshSuggestTooltipText
      },
      liveLocation: {
        get: function () {
          console.debug('getter liveLocationUserInput this', this)
          return this.value
        },
        set: function (value) {
          console.debug('ComboboxForCollectionsField setter liveLocation value ', value)
          if (this.localLiveLocationTouched) {
            console.debug('ComboboxForCollectionsField setter emit liveLocation value ', value)
            this.$emit('set-user-input-value', value)
          }
        }
      }
    },
    methods: {
      addressSuggestion (phrase, localSuggestionField) {
        console.debug('addressSuggestion getUserInputRawData event', phrase)
        console.debug('addressSuggestion getUserInputRawData localSuggestionField', localSuggestionField)
        console.debug('addressSuggestion getUserInputRawData this.$refs.combobox', this.$refs.combobox)
        this.isLoading = true
        this.$store.dispatch('getAddressesSuggestions', phrase.trim())
        .then(suggestions => {
          this[localSuggestionField] = suggestions.filter(el => el.full_address).map(el => el.full_address)
          console.debug('addressSuggestion this[localSuggestionField]', this[localSuggestionField])
          this.$emit('set-suggestions-variants', this[localSuggestionField])
          this.$refs.combobox.updateCombobox()
        })
        .finally(() => {
          this.isLoading = false
        })
      },
      setFieldTouched () {
        this.localLiveLocationTouched = true
        this.$emit('set-field-touched', true)
      }
    }
  }
</script>

<style scoped>
</style>
