<template>
    <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ personalCommonDataCardTitleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Пол-->
        <v-flex xs6 sm6 md2 lg2 xl2>
          <v-select
            :items="allowedGenderSignsList"
            item-value="genderValue"
            item-text="genderText"
            :label="genderLabelText"
            :placeholder="genderPlaceholderText"
            :value="genderSign"
            @input="setUserInputValue('genderSign', $event)"
            :error-messages="inputFieldsErrors('genderSign')"
          ></v-select>
        </v-flex>
        <!--Date picker-->
        <v-flex xs6 sm6 md4 lg2 xl2>
          <v-menu
            :close-on-content-click="false"
            :nudge-right="40"
            ref="birthDayDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
            @input="$nextTick(() => ($refs.picker.activePicker = 'YEAR'))"
          >
            <v-text-field
              slot="activator"
              prepend-icon="event"
              :label="birthDayLabelText"
              :placeholder="birthDayPlaceholderText"
              :hint="birthDayHintText"
              :value="birthDay"
              @blur="setUserInputValue('birthDay', $event)"
              :error-messages="inputFieldsErrors('birthDay')"
              clearable
            ></v-text-field>
            <v-date-picker
              ref="picker"
              :max="new Date().toISOString().substr(0, 10)"
              :value="checkAndConvertDate(birthDay)"
              @input="setUserInputValue('birthDay', $event)"
              no-title
              scrollable
              locale="ru-ru"
            >
            </v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs12 sm12 md6 lg8 xl8>
          <v-text-field
            :label="bornLocationLabelText"
            :placeholder="bornLocationPlaceholderText"
            :hint="bornLocationHintText"
            :value="bornLocation"
            @blur="setUserInputValue('bornLocation', $event)"
            :error-messages="inputFieldsErrors('bornLocation')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs10 sm10 md8 lg9 xl9>
            <combobox-for-collections-field
                slot="activator"
                :label="registeredLiveLocationLabelText"
                :placeholder="registeredLiveLocationPlaceholderText"
                :hint="registeredLiveLocationHintText"
                :suggestionstubtext="suggestionStubText"
                :value="registeredLiveLocation"
                @set-user-input-value="setUserInputValue('registeredLiveLocation', $event)"
                @set-suggestions-variants="registeredLiveLocationSuggestion = $event"
                @set-field-touched="localRegisteredLiveLocationTouched = $event"
                :errormessages="inputFieldsErrors('registeredLiveLocation')"
            ></combobox-for-collections-field>
        </v-flex>
        <v-flex  md4 lg3 xl3>
          <v-switch
            :label="sameAsRegisteredLiveLocationLabelText"
            :input-value="sameAsRegisteredLive"
            @change="setUserInputValue('sameAsRegisteredLive', $event)"
          ></v-switch>
        </v-flex>
        <v-flex xs12 sm12 md8 lg9 xl9 v-if="!sameAsRegisteredLive">
          <combobox-for-collections-field
                slot="activator"
                :label="liveLocationLabelText"
                :placeholder="liveLocationPlaceholderText"
                :hint="liveLocationHintText"
                :suggestionstubtext="suggestionStubText"
                :value="liveLocation"
                @set-user-input-value="setUserInputValue('liveLocation', $event)"
                @set-suggestions-variants="liveLocationSuggestions = $event"
                @set-field-touched="localLiveLocationTouched = $event"
                :errormessages="inputFieldsErrors('liveLocation')"
          ></combobox-for-collections-field>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl2></v-flex>
        <v-flex xs6 sm6 md3 lg2 xl2>
           <v-select
             :no-data-text="noMaritalStatusDataText"
            :items="maritaStatusesList"
            item-value="statusValue"
            item-text="statusText"
            :label="maritalStatusLabelText"
            :value="maritalStatus"
            @input="setUserInputValue('maritalStatus', $event)"
            :error-messages="inputFieldsErrors('maritalStatus')"
          ></v-select>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs4 sm4 md3 lg3 xl2>
          <v-switch
            :label="isDisabledLabelText"
            :input-value="isDisabled"
            @change="setUserInputValue('isDisabled', $event)"
          ></v-switch>
        </v-flex>
        <v-flex xs12 sm12 md6 lg6 xl6>
          <v-text-field v-if="isDisabled"
            :label="disabledGroupGroupLabelText"
            :placeholder="disabledGroupPlaceholderText"
            :hint="disabledGroupHintText"
            :value="disabledGroup"
             @blur="setUserInputValue('disabledGroup', $event)"
            :error-messages="inputFieldsErrors('disabledGroup')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12></v-flex>
        <!--контактные данные-->
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="mobileTelephoneLabelText"
            :placeholder="telephonePlaceholderText"
            :hint="mobileTelephoneHintText"
            :value="mobileTelephone"
            @blur="setUserInputValue('mobileTelephone', preformatNumber($event))"
            :error-messages="inputFieldsErrors('mobileTelephone')"
            :mask="'+# (###) ###-##-##'"
            :counter="$v.mobileTelephone.$dirty ? $v.mobileTelephone.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="homeTelephoneLabelText"
            :placeholder="telephonePlaceholderText"
            :hint="homeTelephoneHintText"
            :value="homeTelephone"
            @blur="setUserInputValue('homeTelephone', $event)"
            :error-messages="inputFieldsErrors('homeTelephone')"
            counter
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="workTelephoneLabelText"
            :placeholder="telephonePlaceholderText"
            :hint="workTelephoneHintText"
            :value="workTelephone"
            @blur="setUserInputValue('workTelephone', $event)"
            :error-messages="inputFieldsErrors('workTelephone')"
            counter
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="emailLabelText"
            :placeholder="emailPlaceholderText"
            :hint="emailHintText"
            :value="email"
            @blur="setUserInputValue('email', $event)"
            :error-messages="inputFieldsErrors('email')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12></v-flex>
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="snilsLabelText"
            :placeholder="snilsPlaceholderText"
            :hint="snilsHintText"
            :value="snils"
            @blur="setUserInputValue('snils', $event)"
            :error-messages="inputFieldsErrors('snils')"
            :counter="$v.snils.$dirty ? $v.snils.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs6 sm6 md4 lg3 xl2>
          <v-text-field
            :label="innLabelText"
            :placeholder="innPlaceholderText"
            :hint="innHintText"
            :value="inn"
            @blur="setUserInputValue('inn', $event)"
            :error-messages="inputFieldsErrors('inn')"
            :counter="$v.inn.$dirty ? $v.inn.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12></v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap>
            <v-flex>
              <v-switch class="mt-0"
                :label="previousLiveLocationWasLabelText"
                :input-value="previousLiveLocationsWas"
                @change="setUserInputValue('previousLiveLocationsWas', $event)"
              ></v-switch>
            </v-flex>
            <v-flex class="py-0">
              <v-layout justify-end>
                <v-btn
                  v-if="previousLiveLocationsWas"
                  color="accent"
                  @click="addNewItemToCollection('previousLiveLocations')"
                >
                  <v-icon>add</v-icon>
                {{ addNewPreviousLiveLocationButtonText }}
              </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="previousLiveLocationsWas" xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in previousLiveLocations" row wrap :key="index">
            <v-flex xs12 sm12 md12 lg7 xl7>
              <v-text-field
                :label="liveLocationLabelText"
                :placeholder="liveLocationPlaceholderText"
                :hint="liveLocationHintText"
                :value="dataRow.liveLocation"
                @blur="setValueToListItem('previousLiveLocations', index, 'liveLocation', $event)"
                :error-messages="inputOfListItemFieldsErrors('previousLiveLocations', index, 'liveLocation')"
                clearable
              ></v-text-field>
            </v-flex>
            <!--Date picker-->
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                ref="previousLiveLocationsDateFrom"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.fromLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="dateFromLabelText"
                  :placeholder="dateFromPlaceholderText"
                  :hint="dateFromHintText"
                  :value="dataRow.dateFrom"
                  @blur="setValueToListItem('previousLiveLocations', index, 'dateFrom', $event)"
                  :error-messages="inputOfListItemFieldsErrors('previousLiveLocations', index, 'dateFrom')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="fromLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :value="checkAndConvertDate(dataRow.dateFrom)"
                  @input="setValueToListItem('previousLiveLocations', index, 'dateFrom', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <!--Date picker-->
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                ref="previousLiveLocationsDateTo"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.toLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :value="dataRow.dateTo"
                  :label="dateToLabelText"
                  :placeholder="dateToPlaceholderText"
                  :hint="dateToHintText"
                  @blur="setValueToListItem('previousLiveLocations', index, 'dateTo', $event)"
                  :error-messages="inputOfListItemFieldsErrors('previousLiveLocations', index, 'dateTo')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="toLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :min="dataRow.dateFrom ? dataRow.dateFrom : undefined"
                  :value="checkAndConvertDate(dataRow.dateTo)"
                  @input="setValueToListItem('previousLiveLocations', index, 'dateTo', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs1 sm1 md1 lg1 xl1>
              <v-tooltip bottom>
                <v-btn
                 slot="activator"
                 small
                 color="error"
                 @click="removeItemList('previousLiveLocations', index)"
                >
                <v-icon>remove_circle_outline</v-icon>
                </v-btn>
                <span> {{removePreviousLiveLocationButtonText}} </span>
              </v-tooltip>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import { required, requiredIf, numeric, email, minLength, maxLength } from 'vuelidate/lib/validators'
  import { dateValueIsValid, nonSuggestedSelectedIf } from './validatorsAndFormatters'
  import { PreviousLiveLocation } from './models'
  import ComboboxForCollectionsField from './ComboboxForCollectionsField'

  export default {
    name: 'CommonPersonalData',
    components: {ComboboxForCollectionsField},
    mixins: [validationMixin],
    validations () {
      return {
        genderSign: {
          required
        },
        birthDay: {
          required,
          dateValueIsValid
        },
        bornLocation: {
          required
        },
      // поле нужно для проверки соответствия ввода пользователя с предложенными вариантами
        registeredLiveLocationUserInputInList: {},
        registeredLiveLocation: {
          required,
          nonSuggestedSelected: nonSuggestedSelectedIf('registeredLiveLocationUserInputInList')
        },
        sameAsRegisteredLive: {
        },
      // поле нужно для проверки соответствия ввода пользователя с предложенными вариантами
        liveLocationUserInputInListAndRequired: {},
        liveLocation: {
          required: requiredIf(function () {
            return !this.sameAsRegisteredLive
          }),
          nonSuggestedSelected: nonSuggestedSelectedIf('liveLocationUserInputInListAndRequired')
        },
        maritalStatus: {
          required
        },
        isDisabled: {
        },
        disabledGroup: {
          required: requiredIf(function () {
            return this.isDisabled
          })
        },
        mobileTelephone: {
          required,
          numeric,
          minLength: minLength(11),
          maxLength: maxLength(11)
        },
        homeTelephone: {
          numeric
        },
        workTelephone: {
          numeric
        },
        email: {
          email
        },
        snils: {
          numeric,
          minLength: minLength(11),
          maxLength: maxLength(11)
        },
        inn: {
          numeric,
          minLength: minLength(12),
          maxLength: maxLength(12)
        },
        previousLiveLocationsWas: {
        },
        previousLiveLocations: {
          $each: PreviousLiveLocation.formValidators()
        }
      }
    },
    data () {
      return {
        registeredLiveLocationSuggestion: [],
        liveLocationSuggestions: [],
        localRegisteredLiveLocationTouched: false,
        localLiveLocationTouched: false
      }
    },
    watch: {
      // componentDataIsValid: function () {
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        // Лейблы и названия
        'personalCommonDataCardTitleText',
        'genderLabelText',
        'genderPlaceholderText',
        'bornLocationLabelText',
        'bornLocationPlaceholderText',
        'bornLocationHintText',
        'birthDayLabelText',
        'birthDayPlaceholderText',
        'birthDayHintText',
        'liveLocationLabelText',
        'liveLocationPlaceholderText',
        'liveLocationHintText',
        'registeredLiveLocationLabelText',
        'registeredLiveLocationPlaceholderText',
        'registeredLiveLocationHintText',
        'autocompleteRefreshSuggestTooltipText',
        'sameAsRegisteredLiveLocationLabelText',
        'workLocationLabelText',
        'workLocationPlaceholderText',
        'workLocationHintText',
        'workPositionLabelText',
        'workPositionPlaceholderText',
        'workPositionHintText',
        'telephoneLabelText',
        'telephonePlaceholderText',
        'telephoneHintText',
        'mobileTelephoneLabelText',
        'mobileTelephoneHintText',
        'homeTelephoneLabelText',
        'homeTelephoneHintText',
        'workTelephoneLabelText',
        'workTelephoneHintText',
        'emailLabelText',
        'emailPlaceholderText',
        'emailHintText',
        'snilsLabelText',
        'snilsPlaceholderText',
        'snilsHintText',
        'innLabelText',
        'innPlaceholderText',
        'innHintText',
        'isDisabledLabelText',
        'disabledGroupGroupLabelText',
        'disabledGroupPlaceholderText',
        'disabledGroupHintText',
        'maritalStatusLabelText',
        'maritalStatusesText',
        'noMaritalStatusDataText',
        'previousLiveLocationWasLabelText',
        'addNewPreviousLiveLocationButtonText',
        'removePreviousLiveLocationButtonText',
        'locatedPeriodLabelText',
        'locatedPeriodPlaceholderText',
        'locatedPeriodHintText',
        'dateFromLabelText',
        'dateFromPlaceholderText',
        'dateFromHintText',
        'dateToLabelText',
        'dateToPlaceholderText',
        'dateToHintText',
        'suggestionStubText',
        // Значения и данные
        'allowedGenderSigns',
        'genderSign',
        'bornLocation',
        'birthDay',
        'liveLocation',
        'sameAsRegisteredLive',
        'maritalStatus',
        'isDisabled',
        'disabledGroup',
        'mobileTelephone',
        'homeTelephone',
        'workTelephone',
        'email',
        'snils',
        'inn',
        'previousLiveLocationsWas',
        'previousLiveLocations',
        // Сервисные методы
        'checkAndConvertDate',
        'clearValue'
      ]),
      allowedGenderSignsList () {
        return Object.keys(this.allowedGenderSigns)
          .map(genderValue => ({
            genderValue,
            genderText: this.allowedGenderSigns[genderValue]
          }))
      },
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
              .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
              .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      maritaStatusesList () {
        if (!this.genderSign) {
          return []
        }
        const genderMaritalStatus = this.maritalStatusesText[this.genderSign]
        return Object.keys(genderMaritalStatus)
          .map(statusValue => ({
            statusValue,
            statusText: genderMaritalStatus[statusValue]
          }))
      },
      inputOfListItemFieldsErrors () {
        return (collectionName, index, fieldName) =>
          this.$v[collectionName].$each[index][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v[collectionName].$each[index][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      },
      registeredLiveLocation () {
        return this.$store.getters.registeredLiveLocation
      },
      liveLocation () {
        return this.$store.getters.liveLocation
      },
      registeredLiveLocationUserInputInList () {
        if (!this.localRegisteredLiveLocationTouched) {
          return true
        }
        return this.registeredLiveLocationSuggestion.indexOf(this.registeredLiveLocation) !== -1
      },
      liveLocationUserInputInListAndRequired () {
        if (this.sameAsRegisteredLive) {
          return true
        }
        if (!this.localLiveLocationTouched) {
          return true
        }
        return this.liveLocationSuggestions.indexOf(this.liveLocation) !== -1
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        this.$v.$touch()
      },
      addressSuggestion (phrase, localSuggestionField) {
        console.debug('getUserInputRawData event', phrase)
        console.debug('getUserInputRawData localSuggestionField', localSuggestionField)
        this.isLoading = true
        this.fieldsLoadings[localSuggestionField] = true
        this.$store.dispatch('getAddressesSuggestions', phrase)
        .then(suggestions => {
          this[localSuggestionField] = suggestions.filter(el => el.full_address)
        })
        .finally(() => {
          this.isLoading = false
          this.fieldsLoadings[localSuggestionField] = false
        })
      },
      setUserInputValue (fieldName, event) {
        if (typeof event === 'string') {
          this.$refs.birthDayDate.isActive = false
        }
        console.debug('setUserInputValue  fieldName', fieldName)
        console.debug('setUserInputValue  event', event)
        let value = this.clearValue(event)
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      preformatNumber (event) {
        return event.target.value.replace(/\D/g, '')
      },
      addNewItemToCollection (collectionName) {
        this.$store.dispatch('addNewItemToCollection', collectionName)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removeItemList (collectionName, index) {
        this.$store.dispatch('removeItemList', {collectionName, index})
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setValueToListItem (collection, index, fieldName, event) {
        if (typeof event === 'string') {
          this.$refs.previousLiveLocationsDateFrom[index].isActive = false
          this.$refs.previousLiveLocationsDateTo[index].isActive = false
        }
        console.debug('commonPersonalData setValueToListItem fieldName', fieldName)
        console.debug('commonPersonalData setValueToListItem event', event)
        this.$v[collection].$each[index][fieldName].$touch()
        let value = this.clearValue(event)
        this.$store.dispatch(
          'setValueToListItem',
          {
            collection,
            index,
            fieldName,
            value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
