<template>
  <v-container fluid grid-list-md py-0 px-0>
    <!--Персональная информация-->
    <template  v-if="!componentDataLoading">
      <vacancy-info-data
        ref="VacancyInfoData"
        @component-data-is-valid="checkComponentValidation('VacancyInfoData', $event)"
      >
      </vacancy-info-data>

      <personal-data
        ref="PersonalData"
        @component-data-is-valid="checkComponentValidation('PersonalData', $event)"
      ></personal-data>
      <!--Общая информация-->
      <common-personal-data
        ref="CommonPersonalData"
        @component-data-is-valid="checkComponentValidation('CommonPersonalData', $event)"
      ></common-personal-data>
      <!--Паспортные данные-->
      <documents-data
        ref="DocumentsData"
        @component-data-is-valid="checkComponentValidation('DocumentsData', $event)"
      ></documents-data>
      <!--Сведения о родственниках-->
      <relatives-data
        ref="RelativesData"
        @component-data-is-valid="checkComponentValidation('RelativesData', $event)"
      ></relatives-data>
      <!--Образование-->
      <education-data
        ref="EducationData"
        @component-data-is-valid="checkComponentValidation('EducationData', $event)"
      ></education-data>
      <!--Профессиональная деятельность-->
      <professional-activity-data
        ref="ProfessionalActivityData"
        @component-data-is-valid="checkComponentValidation('ProfessionalActivityData', $event)"
      ></professional-activity-data>
      <!--Дополнительные вопросы-->
      <additional-data
        ref="AdditionalData"
        @component-data-is-valid="checkComponentValidation('AdditionalData', $event)"
      ></additional-data>

      <v-card style="margin-top: 3px">
        <v-container fluid py-3>
          <v-layout row wrap>
            <v-flex xs6 sm6 md10 lg8 xl6>
                <v-checkbox
                  :label="processingPersonalDataAgreementTitleText"
                  v-model="processingPersonalDataAgreement"
                ></v-checkbox>
          </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <app-fab
        :buttonColor="saveButtonColor"
        :toolTipLabelText="toolTipLabelText"
        :buttonDisable="!processingPersonalDataAgreement"
        @save-user-questionnaire-data="saveUserQuestionnaireData"
      ></app-fab>
    </template>
    <v-layout row v-if="componentDataLoading">
          <v-flex xs12 class="text-xs-center pt-5">
            <v-progress-circular
              indeterminate
              :size="100"
              :width="6"
              color="secondary"
            ></v-progress-circular>
          </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import { mapGetters } from 'vuex'
  import {validationMixin} from 'vuelidate'
  import AppFab from '@/modules/AppFab'
  import PersonalData from './PersonalData'
  import CommonPersonalData from './CommonPersonalData'
  import DocumentsData from './DocumentsData'
  import RelativesData from './RelativesData'
  import EducationData from './EducationData'
  import ProfessionalActivityData from './ProfessionalActivityData'
  import AdditionalData from './AdditionalData'
  import VacancyInfoData from './VacancyInfoData'

  const ComponentName = 'CandidateQuestionnaireComponent'

  export default {
    name: ComponentName,
    components: {
      VacancyInfoData,
      AppFab,
      PersonalData,
      CommonPersonalData,
      DocumentsData,
      RelativesData,
      EducationData,
      ProfessionalActivityData,
      AdditionalData
    },
    mixins: [validationMixin],
    validations: {},
    created () {
      this.getData()
    },
    data () {
      return {
        allComponentsValidation: {},
        componentDataLoading: false
      }
    },
    watch: {
      $route: function () {
        console.debug('watch $route', this.$route)
        this.getData()
      }
    },
    methods: {
      checkComponentValidation (componentName, isValid) {
        this.$set(this.allComponentsValidation, componentName, isValid)
      },
      saveUserQuestionnaireData () {
        const userUuid = this.currentQuestionnaireUuid()
        Object.keys(this.allComponentsValidation)
        .filter(componentName => this.$refs[componentName] !== undefined)
        .forEach(componentName => {
          console.debug('componentName ', componentName)
          this.$refs[componentName].touchAllFields()
        })
        // Чтобы успеть проверить форму.
        new Promise(resolve => setTimeout(() => resolve(), 0))
          .then(() => {
            if (this.formIsValid) {
              console.debug('saveUserQuestionnaireData formIsvald', this.formIsValid)
              this.$store.dispatch('saveQuestionnaireData', userUuid)
            } else {
              console.debug('saveUserQuestionnaireData this', this)
              this.$store.dispatch('setError', {
                message: this.allRequiredFieldsIsNotFilledErrorText,
                level: this.$store.getters.errorLevels.WARN
              })
            }
          })
      },
      getData () {
        this.componentDataLoading = true
        console.debug('get data this.currentQuestionnaireUuid', this.currentQuestionnaireUuid())
        this.$store.dispatch('setQuestionnaireUuid', {uuid: this.currentQuestionnaireUuid()})
        if (this.currentQuestionnaireUuid) {
          this.$store.dispatch('getExternalCollectionsSelectedData', this.currentQuestionnaireUuid())
          .then(() => this.$store.dispatch('getQuestionnaireData', this.currentQuestionnaireUuid()))
          .catch(() => this.$router.push({
            name: 'StartedQuestionnairePage'
          }))
          .finally(() => {
            this.componentDataLoading = false
          })
        }
      },
      currentQuestionnaireUuid () {
        const questionnaireUuid = this.$router.history.current.params.uuid
        console.debug('currentQuestionnaireUuid questionnaireUuid', questionnaireUuid)
        return questionnaireUuid
      }
    },
    computed: {
      ...mapGetters([
        'processingPersonalDataAgreementTitleText',
        'allRequiredFieldsIsNotFilledErrorText',
        'allRequiredFieldsIsNotFilledWarningTooltipText',
        'personalDataAgreementExpectedWarningTooltipText',
        'savedFormButtonTooltipLabel'
      ]),
      processingPersonalDataAgreement: {
        // геттер:
        get: function () {
          return this.$store.getters.processingPersonalDataAgreement
        },
        // сеттер:
        set: function (newValue) {
          console.debug('processingPersonalDataAgreement set newValue', newValue)
          this.$store.dispatch('setProcessingPersonalDataAgreement', newValue)
        }
      },
      previousPersonalDataLabel () {
        return !(this.wasPreviousPersonalData) ? this.$store.getters.previousPersonalDataLabeText
        : this.$store.getters.previousDataAndWhenChangedText
      },
      formIsValid () {
        return Object.values(this.allComponentsValidation).every(value => value)
      },
      toolTipLabelText () {
        if (!this.processingPersonalDataAgreement) {
          return this.personalDataAgreementExpectedWarningTooltipText
        } else if (!this.formIsValid) {
          return this.allRequiredFieldsIsNotFilledWarningTooltipText
        } else {
          return this.savedFormButtonTooltipLabel
        }
      },
      saveButtonColor () {
        return this.formIsValid ? 'success' : 'warning'
      }
    }
  }
</script>

<style scoped>
</style>
