<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ documentDataCardTitleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-1 px-0>
      <v-tabs
        slot="extension"
        v-model="actualPersonalDocumentNumber"
        grow
        color="documentSliderHeaderColor"
      >
      <v-tabs-slider
        style="height: 15px"
        color="secondary"
      >
      </v-tabs-slider>

        <v-tab v-for="(documentType, index) in allAllowedDocuments"
               :key="documentType"
               :style="index === 1 ? {'border-left': '1px solid black', 'border-right': '1px solid black'} : {}"
        >
          {{ allowedDocumentsTitles[documentType] }}
        </v-tab>
      </v-tabs>

    <v-tabs-items
      v-model="actualPersonalDocumentNumber"
    >
      <v-tab-item v-for="documentType in allAllowedDocuments" :key="documentType">
        <component
          ref="currentDocument"
          :is="currentDocument(documentType)"
          @component-data-is-valid="documentValidation(documentType, $event)"
        ></component>
      </v-tab-item>
    </v-tabs-items>

    </v-container>
  <!--@component-data-is-valid="$emit('component-data-is-valid', $event)"-->
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import PassportData from './PassportData'
  import ResidencePermitData from './ResidencePermitData'
  import AnotherCountryPassportData from './AnotherCountryPassportData'
  import {
    DOCUMENT_RF_PASSPORT,
    DOCUMENT_RESIDENCE_PERMIT,
    DOCUMENT_ANOTHER_COUNTRY_PASSPORT
  } from './validatorsAndFormatters'

  export default {
    name: 'DocumentsData',
    components: {
      PassportData,
      ResidencePermitData,
      AnotherCountryPassportData
    },
    data () {
      return {
        childComponentsValid: {}
      }
    },
    watch: {
      componentDataIsValid: function () {
        console.debug('watch componentDataIsValid this.componentDataIsValid', this.componentDataIsValid)
        this.$emit('component-data-is-valid', this.componentDataIsValid)
      }
    },
    mounted () {
      this.$emit('component-data-is-valid', this.componentDataIsValid)
    },
    computed: {
      ...mapGetters([
        'documentDataCardTitleText',
        'allAllowedDocuments',
        'allowedDocumentsTitles',
        'currentPersonalDocumentType'
      ]),
      actualPersonalDocumentNumber: {
        get: function () {
          return this.allAllowedDocuments.indexOf(this.currentPersonalDocumentType)
        },
        set: function (newDocumentNumber) {
          this.$store.dispatch('changeActualPersonalDocument', this.allAllowedDocuments[newDocumentNumber])
        }
      },
      componentDataIsValid () {
        return this.childComponentsValid[this.currentPersonalDocumentType]
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        console.debug('DocumentsData touchAllFields this.$refs', this.$refs)
        this.$refs.currentDocument[this.actualPersonalDocumentNumber].$v.$touch()
      },
      documentTitle (documentType) {
        return this.allowedDocumentsTitles[documentType]
      },
      currentDocument (documentType) {
        return {
          [DOCUMENT_RF_PASSPORT]: 'passport-data',
          [DOCUMENT_RESIDENCE_PERMIT]: 'residence-permit-data',
          [DOCUMENT_ANOTHER_COUNTRY_PASSPORT]: 'another-country-passport-data'
        }[documentType]
      },
      documentValidation (type, value) {
        this.$set(this.childComponentsValid, type, value)
      }
    }
  }
</script>

<style scoped>
</style>
