<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
        <v-toolbar-title>
          {{ educationDataCardTitleText }}
        </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Список вузов-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in educationalInstitutions" row wrap :key="index">
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                ref="educationalInstitutionDateFrom"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.fromLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="dateFromLabelText"
                  :placeholder="dateFromPlaceholderText"
                  :hint="dateFromHintText"
                  :value="dataRow.dateFrom"
                  @blur="setValueToListItem('educationalInstitutions', index, 'dateFrom', $event)"
                  :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'dateFrom')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="fromLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :value="checkAndConvertDate(dataRow.dateFrom)"
                  @input="setValueToListItem('educationalInstitutions', index, 'dateFrom', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu v-if="!dataRow.untilNow"
                :close-on-content-click="false"
                :nudge-right="40"
                ref="educationalInstitutionDateTo"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.toLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="dateToLabelText"
                  :placeholder="dateToPlaceholderText"
                  :value="dataRow.dateTo"
                  :hint="dateToHintText"
                  @blur="setValueToListItem('educationalInstitutions', index, 'dateTo', $event)"
                  :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'dateTo')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="toLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :min="dataRow.dateFrom ? dataRow.dateFrom : undefined"
                  :value="checkAndConvertDate(dataRow.dateTo)"
                  @input="setValueToListItem('educationalInstitutions', index, 'dateTo', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs4 sm4 md3 lg3 xl2>
              <v-switch
                :label="untilNowDateLabelText"
                :input-value="dataRow.untilNow"
                @change="setValueToListItem('educationalInstitutions', index, 'untilNow', $event)"
                :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'untilNow')"
              ></v-switch>
            </v-flex>
            <v-flex xs12 sm12 md12 lg12 x12></v-flex>
            <v-flex xs12 sm6 md6 lg6 x6>
              <v-select
                :prepend-icon="'book'"
                @click:prepend.ctrl.alt.67="switchDynamicEducationChoices"
                :items="educationLevelTypes"
                item-value="uuid"
                item-text="text"
                :no-data-text="noTextForDynamicSelectionText"
                :label="educationLevelTypeLabelText"
                :placeholder="educationLevelTypePlaceholderText"
                :value="dataRow.educationLevelType"
                @input="setValueToListItem('educationalInstitutions', index, 'educationLevelType', $event)"
                :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'educationLevelType')"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm12 md12 lg12 x12>
              <v-text-field
                :label="educationOrganizationTitleText"
                :placeholder="educationOrganizationPlaceholderText"
                :hint="educationOrganizationHintText"
                :value="dataRow.institutionName"
                @blur="setValueToListItem('educationalInstitutions', index, 'institutionName', $event)"
                :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'institutionName')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="specialityTitleText"
                :placeholder="specialityTilePlaceholderText"
                :hint="specialityHintText"
                :value="dataRow.specialty"
                @blur="setValueToListItem('educationalInstitutions', index, 'specialty', $event)"
                :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'specialty')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="qualificationLabelText"
                :placeholder="qualificationLabelPlaceholderText"
                :hint="qualificationHintText"
                :value="dataRow.qualification"
                @blur="setValueToListItem('educationalInstitutions', index, 'qualification', $event)"
                :error-messages="inputOfListItemFieldsErrors('educationalInstitutions', index, 'qualification')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs1 sm1 md1 lg1 xl1>
              <v-tooltip bottom>
                <v-btn
                 slot="activator"
                 small
                 color="error"
                 @click="removeItemList('educationalInstitutions', index)"
                >
                <v-icon>remove_circle_outline</v-icon>
                </v-btn>
                <span> {{educationRemoveButtonTooltipLabelText}} </span>
              </v-tooltip>
            </v-flex>
          </v-layout>
       </v-flex>
        <!--Упралвение полями-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap>
            <v-flex>
            </v-flex>
            <v-flex class="py-0">
              <v-layout justify-end>
                <v-btn
                  color="accent"
                  @click="addNewItemToCollection('educationalInstitutions')"
                >
                  <v-icon>add</v-icon>
                {{ educationAddButtonLabelText }}
              </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { EducationalInstitution } from './models'
  import { validationMixin } from 'vuelidate'
  import { DYNAMIC_SELECTION_EDUCATIONS } from './validatorsAndFormatters'

  export default {
    name: 'EducationData',
    mixins: [validationMixin],
    validations () {
      return {
        educationalInstitutions: {
          $each: EducationalInstitution.formValidators()
        }
      }
    },
    watch: {
      // componentDataIsValid: function () {
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    data () {
      return {
        dynamicEducationChoices: true
      }
    },
    computed: {
      ...mapGetters([
        // Лейблы и названия
        'educationDataCardTitleText',
        'untilNowDateLabelText',
        'locatedPeriodLabelText',
        'locatedPeriodPlaceholderText',
        'locatedPeriodHintText',
        'dateFromLabelText',
        'dateFromPlaceholderText',
        'dateFromHintText',
        'dateToLabelText',
        'dateToPlaceholderText',
        'dateToHintText',
        'educationLevelTypeLabelText',
        'educationLevelTypePlaceholderText',
        'educationOrganizationTitleText',
        'educationOrganizationPlaceholderText',
        'educationOrganizationHintText',
        'specialityTitleText',
        'specialityTilePlaceholderText',
        'specialityHintText',
        'qualificationLabelText',
        'qualificationLabelPlaceholderText',
        'qualificationHintText',
        'educationRemoveButtonTooltipLabelText',
        'educationAddButtonLabelText',
        'noTextForDynamicSelectionText',
        // Значения и данные
        'educationalInstitutions',
        'allowedEducationLevelTypes',
        // Сервисные методы
        'checkAndConvertDate',
        'clearValue'
      ]),
      educationLevelTypes () {
        if (this.dynamicEducationChoices) {
          return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_EDUCATIONS)
        } else {
          return Object.keys(this.allowedEducationLevelTypes)
          .map(uuid => ({
            uuid,
            text: this.allowedEducationLevelTypes[uuid]
          }))
        }
      },
      inputOfListItemFieldsErrors () {
        return (collectionName, index, fieldName) =>
          this.$v[collectionName].$each[index][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v[collectionName].$each[index][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        this.$v.$touch()
      },
      switchDynamicEducationChoices () {
        this.dynamicEducationChoices = !this.dynamicEducationChoices
      },
      addNewItemToCollection (collectionName) {
        console.debug('addNewItemToCollection collectionName', collectionName)
        this.$store.dispatch('addNewItemToCollection', collectionName)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removeItemList (collectionName, index) {
        this.$store.dispatch('removeItemList', {collectionName, index})
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setValueToListItem (collection, index, fieldName, event) {
        if (typeof event === 'string') {
          this.$refs.educationalInstitutionDateFrom.forEach(el => (el.isActive = false))
          this.$refs.educationalInstitutionDateTo.forEach(el => (el.isActive = false))
        }
        console.debug('inputFieldsErrors this.$v', this.$v)
        console.debug('inputFieldsErrors collection', collection)
        console.debug('inputFieldsErrors index', index)
        console.debug('inputFieldsErrors fieldName', fieldName)
        console.debug('inputFieldsErrors event', event)
        this.$v[collection].$each[index][fieldName].$touch()
        let value = this.clearValue(event)
        this.$store.dispatch(
          'setValueToListItem',
          {
            collection,
            index,
            fieldName,
            value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
