<template>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Серия-->
        <v-flex xs12 sm12 md3 lg3>
          <v-text-field
            :mask="'####'"
            :label="passportSeriesLabelText"
            :placeholder="passportSeriesPlaceholderText"
            :hint="passportSeriesHintText"
            :error-messages="inputFieldsErrors('passportSeries')"
            :value="passportSeries"
            @blur.number="setUserInputValue('passportSeries', $event)"
            :counter="$v.passportSeries.$dirty ? $v.passportSeries.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Номер-->
        <v-flex xs12 sm12 md5 lg5>
          <v-text-field
            :mask="'######'"
            :label="passportNumberLabelText"
            :placeholder="passportNumberPlaceholderText"
            :hint="passportNumberHintText"
            :error-messages="inputFieldsErrors('passportNumber')"
            :value="passportNumber"
            @blur="setUserInputValue('passportNumber', $event)"
            :counter="$v.passportNumber.$dirty ? $v.passportNumber.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Date picker-->
        <v-flex xs12 sm12 md3 lg2 xl2>
          <v-menu
            :close-on-content-click="false"
            :nudge-right="40"
            ref="passportIssueDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
            @input="$nextTick(() => ($refs.picker.activePicker = 'YEAR'))"
          >
            <v-text-field
              slot="activator"
              prepend-icon="event"
              :label="passportIssueDateLabelText"
              :placeholder="passportIssueDatePlaceholderText"
              :hint="passportIssueDateHintText"
              :error-messages="inputFieldsErrors('passportIssueDate')"
              :value="passportIssueDate"
              @blur="setUserInputValue('passportIssueDate', $event)"
              clearable
            ></v-text-field>
            <v-date-picker
              ref="picker"
              :max="new Date().toISOString().substr(0, 10)"
              :value="checkAndConvertedDate"
              @input="setPassportIssueDateByPicker"
              no-title
              scrollable
              locale="ru-ru"
            >
            </v-date-picker>
          </v-menu>
          </v-flex>
        <!--Text area кем выдан-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-textarea
            name="input-7-1"
            :label="passportIssueOrganizationLabelText"
            :placeholder="passportIssueOrganizationPlaceholderText"
            :hint="passportIssueOrganizationHintText"
            :value="passportIssueOrganization"
            @blur="setUserInputValue('passportIssueOrganization', $event)"
            :error-messages="inputFieldsErrors('passportIssueOrganization')"
            :rows="3"
            clearable
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
  import { validationMixin } from 'vuelidate'
  import { dateValueIsValid } from './validatorsAndFormatters'

  export default {
    name: 'PassportData',
    mixins: [validationMixin],
    validations: {
      passportSeries: {
        required,
        numeric,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      passportNumber: {
        required,
        numeric,
        minLength: minLength(6),
        maxLength: maxLength(6)
      },
      passportIssueDate: {
        required,
        dateValueIsValid
      },
      passportIssueOrganization: {
        required
      }
    },
    watch: {
      componentDataIsValid: function () {
        this.$emit('component-data-is-valid', !this.$v.$invalid)
      }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        'passportDataCardTitleText',
        'passportSeriesLabelText',
        'passportSeriesPlaceholderText',
        'passportSeriesHintText',
        'passportNumberLabelText',
        'passportNumberPlaceholderText',
        'passportNumberHintText',
        'passportIssueDateLabelText',
        'passportIssueDatePlaceholderText',
        'passportIssueDateHintText',
        'passportIssueOrganizationLabelText',
        'passportIssueOrganizationPlaceholderText',
        'passportIssueOrganizationHintText',
        'passportSeries',
        'passportNumber',
        'passportIssueDate',
        'passportIssueOrganization'
      ]),
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
              .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
              .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      checkAndConvertedDate () {
        const rawDate = this.$store.getters.passportIssueDate
        return (dateValueIsValid(rawDate)) ? rawDate : null
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      touchAllFields () {
        this.$v.$touch()
      },
      setUserInputValue (fieldName, blurEvent) {
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: blurEvent.target.value.trim()
          }
        )
      },
      setPassportIssueDateByPicker (value) {
        console.debug('setPassportIssueDateByPicker value', value)
        if (typeof value === 'string') {
          this.$refs.passportIssueDate.isActive = false
        }
        this.$v.passportIssueDate.$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName: 'passportIssueDate',
            value: value.trim()
          }
        )
      }
    }
  }
</script>

<style scoped>

</style>
