<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ personalDataTitleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <v-flex xs12 sm12 md6 lg4>
          <v-text-field
            :label="surnameLabel"
            :placeholder="personalSurnamePlaceholder"
            :hint="surnameHint"
            :value="actualSurname"
            @blur="setActualSurname"
            :error-messages="inputFieldsErrors('actualSurname')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md6 lg4>
          <v-text-field
            :label="nameLabel"
            :placeholder="personalNamePlaceholder"
            :hint="nameHint"
            :value="actualName"
            @blur="setActualName"
            :error-messages="inputFieldsErrors('actualName')"
            clearable
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm12 md6 lg4>
          <v-text-field
            :label="middleNameLabel"
            :placeholder="personalMiddleNamePlaceHolder"
            :hint="middleNameHint"
            :value="actualMiddleName"
            @blur="setActualMiddleName"
            :error-messages="inputFieldsErrors('actualMiddleName')"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Управление дополнительными персональными данными-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap>
            <v-flex>
              <v-switch class="mt-0"
                :label="previousPersonalDataLabel"
                v-model="previousPersonalDataWas"
                @change="() => $nextTick(() => $emit('component-data-is-valid', !this.$v.$invalid))"
              ></v-switch>
            </v-flex>
            <v-flex class="py-0">
              <v-layout justify-end>
                <v-btn
                  v-if="previousPersonalDataWas"
                  color="accent"
                  @click="addNewPreviousDataBlank"
                >
                  <v-icon>add</v-icon>
                {{ addMorePreviousData }}
              </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex v-if="previousPersonalDataWas" xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in previousPersonalData" row wrap :key="index">
            <!--Date picker-->
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                ref="pickerMenu"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.changeDatePickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :value="dataRow.changeDate"
                  @blur="changeDatePickerPreviousDataBlank(index, $event)"
                  :label="previousDataDateLabel"
                  :placeholder="previousDataDatePlaceholder"
                  :hint="previousDataDateHint"
                  :error-messages="inputOfPreviousBlankFieldsErrors(index, 'changeDate')"
                  clearable
                ></v-text-field>
                <!--TODO выбор даты доработать-->
                <v-date-picker
                  ref="changeDatePickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :value="checkAndConvertDate(dataRow.changeDate)"
                  @input="changeDatePickerPreviousDataBlank(index, $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm12 md8 lg3 xl3>
              <v-text-field
                :label="surnameLabel"
                :placeholder="surnamePlaceholder"
                :hint="surnameHint"
                :value="dataRow.surname"
                @blur="changeValuePreviousDataBlank(index, 'surname', $event)"
                :error-messages="inputOfPreviousBlankFieldsErrors(index, 'surname')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md5 lg3 xl3>
              <v-text-field
                :label="nameLabel"
                :placeholder="namePlaceholder"
                :hint="nameHint"
                :value="dataRow.name"
                @blur="changeValuePreviousDataBlank(index, 'name', $event)"
                :error-messages="inputOfPreviousBlankFieldsErrors(index, 'name')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg3 xl3>
              <v-text-field
                :label="middleNameLabel"
                :placeholder="middleNamePlaceHolder"
                :hint="middleNameHint"
                :value="dataRow.middleName"
                @blur="changeValuePreviousDataBlank(index, 'middleName', $event)"
                :error-messages="inputOfPreviousBlankFieldsErrors(index, 'middleName')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs1 sm1 md1 lg1 xl1>
             <v-tooltip bottom>
               <v-btn
                 slot="activator"
                 small
                 color="error"
                 @click="removePreviousDataBlank(index)"
               >
                <v-icon>remove_circle_outline</v-icon>
               </v-btn>
               <span> {{removePreviousDataButtonText}} </span>
             </v-tooltip>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'
  import { onlyCyrillic, capitalize, dateValueIsValid } from './validatorsAndFormatters'
  import { PreviousDataBlank } from './store'

  export default {
    name: 'PersonalDataComponent',
    mixins: [validationMixin],
    validations () {
      if (this.previousPersonalDataWas) {
        return {
          actualSurname: {
            required,
            onlyCyrillic
          },
          actualName: {
            required,
            onlyCyrillic
          },
          actualMiddleName: {
            onlyCyrillic
          },
          previousPersonalData: {
            $each: PreviousDataBlank.formValidators()
          }
        }
      } else {
        return {
          actualSurname: {
            required,
            onlyCyrillic
          },
          actualName: {
            required,
            onlyCyrillic
          },
          actualMiddleName: {
            onlyCyrillic
          }
        }
      }
    },
    watch: {
      // componentDataIsValid: function (newVal, oldVal) {
      //   console.debug('componentDataIsValid PersonalData watcher newVal', newVal)
      //   console.debug('componentDataIsValid PersonalData watcher oldVal', oldVal)
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters({
        personalDataTitleText: 'personalDataCardTitleText',
        surnameLabel: 'surnameLabelText',
        personalSurnamePlaceholder: 'personalSurnamePlaceholderText',
        surnamePlaceholder: 'surnamePlaceholderText',
        surnameHint: 'surnameHintText',
        nameLabel: 'nameLabelText',
        personalNamePlaceholder: 'personalNamePlaceholderText',
        namePlaceholder: 'namePlaceholderText',
        nameHint: 'nameHintText',
        middleNameLabel: 'middleNameLabelText',
        personalMiddleNamePlaceHolder: 'personalMiddleNamePlaceHolderText',
        middleNamePlaceHolder: 'middleNamePlaceHolderText',
        middleNameHint: 'middleNameHintText',
        previousDataDateLabel: 'previousDataDateLabelText',
        previousDataDatePlaceholder: 'previousDataDatePlaceholderText',
        previousDataDateHint: 'previousDataDateHintText',
        addMorePreviousData: 'addMorePreviousDataText',
        removePreviousDataButtonText: 'removePreviousDataButtonText',
        previousPersonalData: 'previousPersonalData',
        actualName: 'actualName',
        actualSurname: 'actualSurname',
        actualMiddleName: 'actualMiddleName'
      }),
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
              .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
              .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      inputOfPreviousBlankFieldsErrors () {
        return (indexPreviousBlank, fieldName) =>
          this.$v.previousPersonalData.$each[indexPreviousBlank][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v.previousPersonalData.$each[indexPreviousBlank][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      previousPersonalDataLabel () {
        return !(this.previousPersonalDataWas) ? this.$store.getters.previousPersonalDataLabelText
        : this.$store.getters.previousDataAndWhenChangedText
      },
      previousPersonalDataWas: {
        // геттер:
        get: function () {
          return this.$store.getters.previousPersonalDataWas
        },
        // сеттер:
        set: function (newValue) {
          console.debug('previousPersonalDataWas newValue', newValue)
          this.$store.dispatch('changePreviousDataState', newValue)
        }
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      addNewPreviousDataBlank () {
        this.$store.dispatch('addNewPreviousDataBlank')
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removePreviousDataBlank (index) {
        this.$store.dispatch('removePreviousDataBlank', index)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      touchAllFields () {
        console.debug('touchAllFields this', this)
        console.debug('touchAllFields  this.$v.touch', this.$v.$touch)
        this.$v.$touch()
      },
      checkAndConvertDate (rawDate) {
        return (dateValueIsValid(rawDate)) ? rawDate : null
      },
      setActualSurname (blurEvent) {
        this.$v.actualSurname.$touch()
        this.$store.dispatch('setActualSurname', capitalize(blurEvent.target.value.trim()))
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setActualName (blurEvent) {
        this.$v.actualName.$touch()
        this.$store.dispatch('setActualName', capitalize(blurEvent.target.value.trim()))
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setActualMiddleName (blurEvent) {
        this.$v.actualMiddleName.$touch()
        this.$store.dispatch('setActualMiddleName', capitalize(blurEvent.target.value.trim()))
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      // Сделано отдельным методом чтобы можно было выполнять преобразования при необходимости
      changeDatePickerPreviousDataBlank (changedBlankIndex, blurEvent) {
        if (typeof blurEvent === 'string') {
          this.$refs.pickerMenu[changedBlankIndex].isActive = false
        }
        console.debug('changeDatePickerPreviousDataBlank this.$refs.pickerMenu[changedBlankIndex]', this.$refs.pickerMenu[changedBlankIndex])
        console.debug('changeDatePickerPreviousDataBlank this.$refs.pickerMenu.isActive', this.$refs.pickerMenu[changedBlankIndex].isActive)
        console.debug('changeDatePickerPreviousDataBlank blurEvent', blurEvent)
        const value = typeof blurEvent === 'string' ? blurEvent : blurEvent.target.value.trim()
        this.$v.previousPersonalData.$each[changedBlankIndex]['changeDate'].$touch()
        this.$store.dispatch(
          'setPreviousDataBlankFieldValue',
          {
            changedBlankIndex,
            fieldName: 'changeDate',
            value: value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      changeValuePreviousDataBlank (changedBlankIndex, fieldName, blurEvent) {
        console.debug('inputFieldsErrors this.$v', this.$v)
        this.$v.previousPersonalData.$each[changedBlankIndex][fieldName].$touch()
        this.$store.dispatch(
          'setPreviousDataBlankFieldValue',
          {
            changedBlankIndex,
            fieldName,
            value: capitalize(blurEvent.target.value.trim())
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
