<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
        <v-toolbar-title>
          {{ workingActivityDataCardTitleText }}
        </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <v-flex xs12 sm12 md12 lg12 xl12>
          <h3>{{ workingActivitySectionHintText }}</h3>
        </v-flex>
        <!--Список мест работы-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in workingOrganizations" row wrap :key="index">
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                ref="workingOrganizationDateFrom"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.fromLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="workStartDateText"
                  :placeholder="dateFromPlaceholderText"
                  :hint="dateFromHintText"
                  :value="dataRow.dateFrom"
                  @blur="setValueToListItem('workingOrganizations', index, 'dateFrom', $event)"
                  :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'dateFrom')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="fromLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :value="checkAndConvertDate(dataRow.dateFrom)"
                  @input="setValueToListItem('workingOrganizations', index, 'dateFrom', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu v-if="!dataRow.untilNow"
                :close-on-content-click="false"
                :nudge-right="40"
                ref="workingOrganizationDateTo"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.toLocationPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="workFinishDateText"
                  :placeholder="dateToPlaceholderText"
                  :hint="dateToHintText"
                  :value="dataRow.dateTo"
                  @blur="setValueToListItem('workingOrganizations', index, 'dateTo', $event)"
                  :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'dateTo')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="toLocationPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :min="dataRow.dateFrom ? dataRow.dateFrom : undefined"
                  :value="checkAndConvertDate(dataRow.dateTo)"
                  @input="setValueToListItem('workingOrganizations', index, 'dateTo', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs4 sm4 md3 lg3 xl2>
              <v-switch
                :label="untilNowDateLabelText"
                :input-value="dataRow.untilNow"
                @change="setValueToListItem('workingOrganizations', index, 'untilNow', $event)"
              ></v-switch>
            </v-flex>
            <v-flex xs12 sm12 md8 lg6 x6>
              <v-text-field
                :label="workingOrganizationTitleLabelText"
                :placeholder="workingOrganizationTitlePlaceholderText"
                :hint="workingOrganizationTitleHintText"
                :value="dataRow.title"
                @blur="setValueToListItem('workingOrganizations', index, 'title', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'title')"
                clearable
              ></v-text-field>
            </v-flex>
             <v-flex xs12 sm12 md8 lg6 x6>
              <v-text-field
                :label="workingActivityDirectionLabelText"
                :placeholder="workingActivityDirectionPlaceholderText"
                :hint="workingActivityDirectionHintText"
                :value="dataRow.activityDirection"
                @blur="setValueToListItem('workingOrganizations', index, 'activityDirection', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'activityDirection')"
                clearable
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="workingPositionLabelText"
                :placeholder="workingPositionPlaceholderText"
                :hint="workingPositionHintText"
                :value="dataRow.position"
                @blur="setValueToListItem('workingOrganizations', index, 'position', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'position')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2 lg2 xl2>
              <v-text-field
                :label="subordinatesAmountLabelText"
                :placeholder="subordinatesAmountPlaceholderText"
                :hint="subordinatesAmountHintText"
                :value="dataRow.subordinatesAmount"
                @blur="setValueToListItem('workingOrganizations', index, 'subordinatesAmount', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'subordinatesAmount')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs2 sm2 md2 lg2 xl2>
              <v-text-field
                :label="salaryLevelLabelText"
                :placeholder="salaryLevelPlaceholderText"
                :hint="salaryLevelHintText"
                :value="dataRow.salaryLevel"
                @blur="setValueToListItem('workingOrganizations', index, 'salaryLevel', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'salaryLevel')"
                clearable
              ></v-text-field>
            </v-flex>
            <!--Text area должностные обязанности-->
            <v-flex xs12 sm12 md12 lg12 xl12>
              <v-textarea
                name="input-7-1"
                :label="officialDutiesLabelText"
                :placeholder="officialDutiesPlaceHolderText"
                :hint="officialDutiesHintText"
                :value="dataRow.officialDuties"
                @blur="setValueToListItem('workingOrganizations', index, 'officialDuties', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'officialDuties')"
                :rows="3"
                clearable
              ></v-textarea>
            </v-flex>
            <v-flex xs12 sm12 md8 lg6 x6  v-if="!dataRow.untilNow">
              <v-text-field
                :label="firingReasonsLabelText"
                :placeholder="firingReasonsPlaceholderText"
                :hint="firingReasonsHintText"
                :value="dataRow.firingReasons"
                @blur="setValueToListItem('workingOrganizations', index, 'firingReasons', $event)"
                :error-messages="inputOfListItemFieldsErrors('workingOrganizations', index, 'firingReasons')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs1 sm1 md1 lg1 xl1>
              <v-tooltip bottom>
                <v-btn
                 slot="activator"
                 small
                 color="error"
                 @click="removeItemList('workingOrganizations', index)"
                >
                <v-icon>remove_circle_outline</v-icon>
                </v-btn>
                <span> {{ workingRemoveButtonTooltipLabelText }} </span>
              </v-tooltip>
            </v-flex>
          </v-layout>
       </v-flex>
        <!--Упралвение полями-->
       <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap>
            <v-flex>
            </v-flex>
            <v-flex class="py-0">
              <v-layout justify-end>
                <v-btn
                  color="accent"
                  @click="addNewItemToCollection('workingOrganizations')"
                >
                  <v-icon>add</v-icon>
                {{ workingAddButtonLabelText }}
              </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { WorkingOrganization } from './models'
  import { validationMixin } from 'vuelidate'

  export default {
    name: 'ProfessionalActivityData',
    mixins: [validationMixin],
    validations () {
      return {
        workingOrganizations: {
          $each: WorkingOrganization.formValidators()
        }
      }
    },
    watch: {
      // componentDataIsValid: function () {
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        // Лейблы и названия
        'dateFromPlaceholderText',
        'dateFromHintText',
        'dateToPlaceholderText',
        'dateToHintText',
        'untilNowDateLabelText',
        'workingActivityDataCardTitleText',
        'workingActivitySectionHintText',
        'workStartDateText',
        'workFinishDateText',
        'workingOrganizationTitleLabelText',
        'workingOrganizationTitlePlaceholderText',
        'workingOrganizationTitleHintText',
        'workingActivityDirectionLabelText',
        'workingActivityDirectionPlaceholderText',
        'workingActivityDirectionHintText',
        'workingPositionLabelText',
        'workingPositionPlaceholderText',
        'workingPositionHintText',
        'subordinatesAmountLabelText',
        'subordinatesAmountPlaceholderText',
        'subordinatesAmountHintText',
        'salaryLevelLabelText',
        'salaryLevelPlaceholderText',
        'salaryLevelHintText',
        'officialDutiesLabelText',
        'officialDutiesPlaceHolderText',
        'officialDutiesHintText',
        'firingReasonsLabelText',
        'firingReasonsPlaceholderText',
        'firingReasonsHintText',
        'workingRemoveButtonTooltipLabelText',
        'workingAddButtonLabelText',
        // Значения и данные
        'workingOrganizations',
        // Сервисные методы
        'checkAndConvertDate',
        'clearValue'
      ]),
      inputOfListItemFieldsErrors () {
        return (collectionName, index, fieldName) =>
          this.$v[collectionName].$each[index][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v[collectionName].$each[index][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      touchAllFields () {
        this.$v.$touch()
      },
      addNewItemToCollection (collectionName) {
        console.debug('addNewItemToCollection collectionName', collectionName)
        this.$store.dispatch('addNewItemToCollection', collectionName)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removeItemList (collectionName, index) {
        this.$store.dispatch('removeItemList', {collectionName, index})
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      setValueToListItem (collection, index, fieldName, event) {
        if (typeof event === 'string') {
          this.$refs.workingOrganizationDateFrom.forEach(el => (el.isActive = false))
          this.$refs.workingOrganizationDateTo.forEach(el => (el.isActive = false))
        }
        console.debug('inputFieldsErrors this.$v', this.$v)
        console.debug('inputFieldsErrors collection', collection)
        console.debug('inputFieldsErrors index', index)
        console.debug('inputFieldsErrors fieldName', fieldName)
        console.debug('inputFieldsErrors event', event)
        this.$v[collection].$each[index][fieldName].$touch()
        let value = this.clearValue(event)
        this.$store.dispatch(
          'setValueToListItem',
          {
            collection,
            index,
            fieldName,
            value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
