<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ relativesDataCardTitleText }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Упралвение полями-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap justify-end>
            <v-flex>
              <h3>{{ relativesSectionHintText }}</h3>
            </v-flex>
          </v-layout>
        </v-flex>
        <!--Список родственников-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout v-for="(dataRow, index) in relativesData" row wrap :key="index">
            <v-flex xs12 md12 lg12 xl12>
              <hr>
            </v-flex>
            <!--Степень родства-->
            <v-flex xs12 sm12 md4 lg4 xl4>
              <v-select
                :items="allowedRelationsDegreesList"
                item-text="degreeText"
                item-value="degreeValue"
                :label="relationDegreeLabelText"
                :placeholder="relationDegreePlaceholderText"
                :hint="relationDegreeHintText"
                :value="dataRow.relationDegree"
                @input="changeRelativeValuesByPickers(index, 'relationDegree', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'relationDegree')"
              ></v-select>
            </v-flex>
            <v-flex md12 lg12 xl12></v-flex>
            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="surnameLabelText"
                :placeholder="surnamePlaceholderText"
                :hint="surnameHintText"
                :value="dataRow.surname"
                @blur="changeRelativeBlockValue(index, 'surname', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'surname')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="nameLabelText"
                :placeholder="namePlaceholderText"
                :hint="nameHintText"
                :value="dataRow.name"
                @blur="changeRelativeBlockValue(index, 'name', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'name')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg4 xl4>
              <v-text-field
                :label="middleNameLabelText"
                :placeholder="middleNamePlaceHolderText"
                :hint="middleNameHintText"
                :value="dataRow.middleName"
                @blur="changeRelativeBlockValue(index, 'middleName', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'middleName')"
                clearable
              ></v-text-field>
            </v-flex>
            <!--Date picker-->
            <v-flex xs12 sm12 md4 lg2 xl2>
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                ref="relativesBirthDay"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
                @input="$nextTick(() => ($refs.birthDayPickers.forEach(el => (el.activePicker = 'YEAR'))))"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="event"
                  :label="birthDayLabelText"
                  :placeholder="birthDayPlaceholderText"
                  :hint="birthDayHintText"
                  :value="dataRow.birthDay"
                  @blur="changeRelativeBlockValue(index, 'birthDay', $event)"
                  :error-messages="inputOfRelativesBlockFieldsErrors(index, 'birthDay')"
                  clearable
                ></v-text-field>
                <v-date-picker
                  ref="birthDayPickers"
                  :max="new Date().toISOString().substr(0, 10)"
                  :value="checkAndConvertDate(dataRow.changeDate)"
                  @input="changeRelativeValuesByPickers(index, 'birthDay', $event)"
                  no-title
                  scrollable
                  locale="ru-ru"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm12 md6 lg6 xl6>
              <v-text-field
                :label="bornLocationLabelText"
                :placeholder="bornLocationPlaceholderText"
                :hint="bornLocationHintText"
                :value="dataRow.bornLocation"
                @blur="changeRelativeBlockValue(index, 'bornLocation', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'bornLocation')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg6 xl6>
              <!--<v-text-field-->
                <!--:label="liveLocationLabelText"-->
                <!--:placeholder="liveLocationPlaceholderText"-->
                <!--:hint="liveLocationHintText"-->
                <!--:value="dataRow.liveLocation"-->
                <!--@blur="changeRelativeBlockValue(index, 'liveLocation', $event)"-->
                <!--:error-messages="inputOfRelativesBlockFieldsErrors(index, 'liveLocation')"-->
                <!--clearable-->
              <!--&gt;</v-text-field>-->
              <combobox-for-collections-field
                :label="liveLocationLabelText"
                :placeholder="liveLocationPlaceholderText"
                :hint="liveLocationHintText"
                :suggestionstubtext="suggestionStubText"
                :value="dataRow.liveLocation"
                @set-user-input-value="changeRelativeBlockValue(index, 'liveLocation', $event)"
                :errormessages="inputOfRelativesBlockFieldsErrors(index, 'liveLocation')"
              ></combobox-for-collections-field>
            </v-flex>
            <v-flex xs12 sm12 md4 lg4 xl4>
              <v-text-field
                :label="workLocationLabelText"
                :placeholder="workLocationPlaceholderText"
                :hint="workLocationHintText"
                :value="dataRow.workLocation"
                @blur="changeRelativeBlockValue(index, 'workLocation', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'workLocation')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md4 lg4 xl4>
              <v-text-field
                :label="workPositionLabelText"
                :placeholder="workPositionPlaceholderText"
                :hint="workPositionHintText"
                :value="dataRow.workPosition"
                @blur="changeRelativeBlockValue(index, 'workPosition', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'workPosition')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md4 lg4 xl4>
              <v-text-field
                :label="telephoneLabelText"
                :placeholder="telephonePlaceholderText"
                :hint="telephoneHintText"
                :value="dataRow.telephone"
                @blur="changeRelativeBlockValue(index, 'telephone', $event)"
                :error-messages="inputOfRelativesBlockFieldsErrors(index, 'telephone')"
                clearable
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md6 lg6 xl6>
              <v-layout row wrap>
                <v-flex>
                  <v-switch
                    :label="isDisabledLabelText"
                    :input-value="dataRow.isDisabled"
                    @change="changeRelativeValuesByPickers(index, 'isDisabled', $event)"
                  ></v-switch>
                </v-flex>
                <v-text-field v-if="dataRow.isDisabled"
                  :label="disabledGroupGroupLabelText"
                  :placeholder="disabledGroupPlaceholderText"
                  :hint="disabledGroupHintText"
                  :value="dataRow.disabledGroup"
                  @blur="changeRelativeBlockValue(index, 'disabledGroup', $event)"
                  :error-messages="inputOfRelativesBlockFieldsErrors(index, 'disabledGroup')"
                  clearable
                ></v-text-field>
              </v-layout>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs1 sm1 md1 lg1 xl1>
              <v-tooltip left>
               <v-btn
                 slot="activator"
                 color="error"
                 @click="removeRelativeData(index)"
               >
                <v-icon>person_add_disabled</v-icon>
               </v-btn>
              <span>{{ removeRelativeDataBlankButtonText }}</span>
             </v-tooltip>
            </v-flex>
            <v-flex xs12 md12 lg12 xl12>
              <hr>
            </v-flex>
          </v-layout>
        </v-flex>
        <!--Упралвение полями-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-layout row wrap justify-end>
            <v-flex>
            </v-flex>
            <v-flex>
              <v-layout justify-end>
                <v-btn
                  color="accent"
                  @click="addRelativeData"
                >
                <v-icon>person_add</v-icon>
                 {{ addRelativeDataBlankButtonText }}
                </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import { capitalize } from './validatorsAndFormatters'
  import { RelativeData } from './store'
  import ComboboxForCollectionsField from './ComboboxForCollectionsField'

  export default {
    name: 'RelativesData',
    components: {ComboboxForCollectionsField},
    mixins: [validationMixin],
    validations () {
      return {
        relativesData: {
          $each: RelativeData.formValidators()
        }
      }
    },
    watch: {
      // componentDataIsValid: function () {
      //   this.$emit('component-data-is-valid', !this.$v.$invalid)
      // }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        'addRelativeDataBlankButtonText',
        'removeRelativeDataBlankButtonText',
        'relativesDataCardTitleText',
        'surnameLabelText',
        'surnamePlaceholderText',
        'surnameHintText',
        'nameLabelText',
        'personalNamePlaceholderText',
        'namePlaceholderText',
        'nameHintText',
        'middleNameLabelText',
        'middleNamePlaceHolderText',
        'middleNameHintText',
        'suggestionStubText',
        'relativesData',
        'checkAndConvertDate',
        'relationDegreeLabelText',
        'relationDegreePlaceholderText',
        'relationDegreeHintText',
        'bornLocationLabelText',
        'bornLocationPlaceholderText',
        'bornLocationHintText',
        'birthDayLabelText',
        'birthDayPlaceholderText',
        'birthDayHintText',
        'liveLocationLabelText',
        'liveLocationPlaceholderText',
        'liveLocationHintText',
        'workLocationLabelText',
        'workLocationPlaceholderText',
        'workLocationHintText',
        'workPositionLabelText',
        'workPositionPlaceholderText',
        'workPositionHintText',
        'telephoneLabelText',
        'telephonePlaceholderText',
        'telephoneHintText',
        'isDisabledLabelText',
        'disabledGroupGroupLabelText',
        'disabledGroupPlaceholderText',
        'disabledGroupHintText',
        'allowedRelationsDegrees',
        'clearValue'
      ]),
      relativesSectionHintText () {
        return `
        ${this.$store.getters.relativesSectionHintText}(${Object.values(this.allowedRelationsDegrees).join(', ')})
        `
      },
      inputOfRelativesBlockFieldsErrors () {
        return (indexRelative, fieldName) =>
          this.$v.relativesData.$each[indexRelative][fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => (
              this.$v.relativesData.$each[indexRelative][fieldName][errMsgObj.validatorKey] === false
            ))
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      allowedRelationsDegreesList () {
        return Object.keys(this.allowedRelationsDegrees)
          .map(degreeValue => ({
            degreeValue,
            degreeText: this.allowedRelationsDegrees[degreeValue]
          }))
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      touchAllFields () {
        this.$v.$touch()
      },
      addRelativeData () {
        this.$store.dispatch('addRelativeData')
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      removeRelativeData (index) {
        this.$store.dispatch('removeRelativeData', index)
          .then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      changeRelativeBlockValue (changedRelativeIndex, fieldName, blurEvent) {
        console.debug('inputFieldsErrors this.$v', this.$v)
        this.$v.relativesData.$each[changedRelativeIndex][fieldName].$touch()
        let value = this.clearValue(blurEvent)
        if (value && ['surname', 'name', 'middleName'].indexOf(value) !== -1) {
          value = capitalize(value)
        }
        this.$store.dispatch(
          'setRelativeBlockValue',
          {
            changedRelativeIndex,
            fieldName,
            value: value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      },
      changeRelativeValuesByPickers (changedRelativeIndex, fieldName, value) {
        if (typeof value === 'string') {
          this.$refs.relativesBirthDay.forEach(el => (el.isActive = false))
        }
        value = typeof value === 'string' ? value.trim() : value
        this.$v.relativesData.$each[changedRelativeIndex][fieldName].$touch()
        this.$store.dispatch(
          'setRelativeBlockValue',
          {
            changedRelativeIndex,
            fieldName,
            value: value
          }
        ).then(this.$nextTick(() => this.$emit('component-data-is-valid', !this.$v.$invalid)))
      }
    }
  }
</script>

<style scoped>

</style>
