<template>
    <v-container fluid py-3>
      <v-layout row wrap>
        <!--Серия-->
        <v-flex xs12 sm12 md6 lg6>
          <v-text-field v-if="citizenIsEditable"
            :prepend-icon="'assignment_ind'"
            @click:prepend.ctrl.alt.67="switchCitizenFieldToEditable"
            :label="citizenshipLabelText"
            :placeholder="citizenshipPlaceHolderText"
            :hint="citizenshipHintText"
            :error-messages="inputFieldsErrors('anotherCountryCitizenship')"
            :value="anotherCountryCitizenship"
            @blur="setUserInputValue('anotherCountryCitizenship', $event)"
            clearable
          ></v-text-field>
          <v-select v-else
            :prepend-icon="'assignment_ind'"
            @click:prepend.ctrl.alt.67="switchCitizenFieldToEditable"
            :label="citizenshipLabelText"
            :placeholder="citizenshipPlaceHolderText"
            :hint="citizenshipHintText"
            :no-data-text="noTextForDynamicSelectionText"
            :value="anotherCountryCitizenship"
            :items="citizenshipType"
            @input="setUserInputValue('anotherCountryCitizenship', $event)"
            :error-messages="inputFieldsErrors('anotherCountryCitizenship')"
            item-value="uuid"
            item-text="text"
            clearable
          ></v-select>
        </v-flex>
        <v-flex xs12 sm12 md6 lg6>
        </v-flex>
        <v-flex xs12 sm12 md3 lg3>
          <v-text-field
            :label="residencePermitSeriesLabelText"
            :placeholder="residencePermitSeriesPlaceholderText"
            :hint="residencePermitSeriesHintText"
            :error-messages="inputFieldsErrors('residencePermitSeries')"
            :value="residencePermitSeries"
            @blur="setUserInputValue('residencePermitSeries', $event)"
            :counter="$v.residencePermitSeries.$dirty ? $v.residencePermitSeries.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Номер-->
        <v-flex xs12 sm12 md5 lg5>
          <v-text-field
            :label="residencePermitNumberLabelText"
            :placeholder="residencePermitNumberPlaceholderText"
            :hint="residencePermitNumberHintText"
            :error-messages="inputFieldsErrors('residencePermitNumber')"
            :value="residencePermitNumber"
            @blur="setUserInputValue('residencePermitNumber', $event)"
            :counter="$v.residencePermitNumber.$dirty ? $v.residencePermitNumber.$params.minLength.min : false"
            clearable
          ></v-text-field>
        </v-flex>
        <!--Date picker-->
        <v-flex xs12 sm12 md3 lg2 xl2>
          <v-menu
            :close-on-content-click="false"
            :nudge-right="40"
            ref="residencePermitIssueDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
            @input="$nextTick(() => ($refs.picker.activePicker = 'YEAR'))"
          >
            <v-text-field
              slot="activator"
              prepend-icon="event"
              :label="residencePermitIssueDateLabelText"
              :placeholder="residencePermitIssueDatePlaceholderText"
              :hint="residencePermitIssueDateHintText"
              :error-messages="inputFieldsErrors('residencePermitIssueDate')"
              :value="residencePermitIssueDate"
              @blur="setUserInputValue('residencePermitIssueDate', $event)"
              clearable
            ></v-text-field>
            <v-date-picker
              ref="picker"
              :max="new Date().toISOString().substr(0, 10)"
              :value="checkAndConvertedDate"
              @input="setPassportIssueDateByPicker"
              no-title
              scrollable
              locale="ru-ru"
            >
            </v-date-picker>
          </v-menu>
          </v-flex>
        <!--Text area кем выдан-->
        <v-flex xs12 sm12 md12 lg12 xl12>
          <v-textarea
            name="input-7-1"
            :label="residencePermitIssueOrganizationLabelText"
            :placeholder="residencePermitIssueOrganizationPlaceholderText"
            :hint="residencePermitIssueOrganizationHintText"
            :value="residencePermitIssueOrganization"
            @blur="setUserInputValue('residencePermitIssueOrganization', $event)"
            :error-messages="inputFieldsErrors('residencePermitIssueOrganization')"
            :rows="3"
            clearable
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
  import { validationMixin } from 'vuelidate'
  import { dateValueIsValid, DYNAMIC_SELECTION_CITIZENSHIP } from './validatorsAndFormatters'

  export default {
    name: 'ResidencePermitData',
    mixins: [validationMixin],
    validations: {
      anotherCountryCitizenship: {
        required
      },
      residencePermitSeries: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(2)
      },
      residencePermitNumber: {
        required,
        numeric,
        minLength: minLength(7),
        maxLength: maxLength(7)
      },
      residencePermitIssueDate: {
        required,
        dateValueIsValid
      },
      residencePermitIssueOrganization: {
        required
      }
    },
    watch: {
      componentDataIsValid: function () {
        this.$emit('component-data-is-valid', !this.$v.$invalid)
      }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    data () {
      return {
        citizenIsEditable: true
      }
    },
    computed: {
      ...mapGetters([
        'citizenshipLabelText',
        'citizenshipPlaceHolderText',
        'citizenshipHintText',
        'residencePermitSeriesLabelText',
        'residencePermitSeriesPlaceholderText',
        'residencePermitSeriesHintText',
        'residencePermitNumberLabelText',
        'residencePermitNumberPlaceholderText',
        'residencePermitNumberHintText',
        'residencePermitIssueDateLabelText',
        'residencePermitIssueDatePlaceholderText',
        'residencePermitIssueDateHintText',
        'residencePermitIssueOrganizationLabelText',
        'residencePermitIssueOrganizationPlaceholderText',
        'residencePermitIssueOrganizationHintText',
        'noTextForDynamicSelectionText',
        'anotherCountryCitizenship',
        'residencePermitSeries',
        'residencePermitNumber',
        'residencePermitIssueDate',
        'residencePermitIssueOrganization'
      ]),
      citizenshipType () {
        return this.$store.getters.dynamicSelectionsData(DYNAMIC_SELECTION_CITIZENSHIP)
      },
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
              .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
              .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      checkAndConvertedDate () {
        const rawDate = this.$store.getters.residencePermitIssueDate
        return (dateValueIsValid(rawDate)) ? rawDate : null
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      touchAllFields () {
        this.$v.$touch()
      },
      switchCitizenFieldToEditable () {
        this.citizenIsEditable = !this.citizenIsEditable
      },
      setUserInputValue (fieldName, blurEvent) {
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: blurEvent.target.value.trim()
          }
        )
      },
      setPassportIssueDateByPicker (value) {
        if (typeof value === 'string') {
          this.$refs.residencePermitIssueDate.isActive = false
        }
        this.$v.residencePermitIssueDate.$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName: 'residencePermitIssueDate',
            value: value.trim()
          }
        )
      }
    }
  }
</script>

<style scoped>

</style>
