<template>
  <v-card>
    <v-toolbar dense>
      <v-spacer></v-spacer>
        <v-toolbar-title>
          {{ vacancyDataCardTitleText }}
        </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-container fluid py-3>
      <v-layout row wrap>
        <v-flex xs12 sm12 md7 lg6 x4>
          <v-select
            :label="vacancySelectionLabelText"
            :placeholder="vacancySelectionPlaceHolderText"
            :hint="vacancySelectionHintText"
            :value="candidateSelectedVacancy"
            @input="setUserInputValue('candidateSelectedVacancy', $event)"
            :error-messages="inputFieldsErrors('candidateSelectedVacancy')"
            :items="allowedVacancySelections"
            item-value="vacancyValue"
            item-text="vacancyTitle"
            clearable
          ></v-select>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {validationMixin} from 'vuelidate'
  import {required} from 'vuelidate/lib/validators'

  export default {
    name: 'VacancyInfoData',
    mixins: [validationMixin],
    validations: {
      candidateSelectedVacancy: {
        required
      }
    },
    watch: {
      componentDataIsValid: function () {
        this.$emit('component-data-is-valid', !this.$v.$invalid)
      }
    },
    mounted () {
      this.$emit('component-data-is-valid', !this.$v.$invalid)
    },
    computed: {
      ...mapGetters([
        'vacancyDataCardTitleText',
        'vacancySelectionLabelText',
        'vacancySelectionPlaceHolderText',
        'vacancySelectionHintText',
        'allowedVacancySelectionsTitles',
        // Данные
        'candidateSelectedVacancy',
        // Сервисные методы
        'clearValue'
      ]),
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
            .map(errMsgObj => errMsgObj.errorText)
          : []
      },
      allowedVacancySelections () {
        return Object.keys(this.allowedVacancySelectionsTitles)
          .map(vacancyValue => ({
            vacancyValue,
            vacancyTitle: this.allowedVacancySelectionsTitles[vacancyValue]
          }))
      },
      componentDataIsValid () {
        return !this.$v.$invalid
      }
    },
    methods: {
      // Метод для вызова из родительского компонента
      touchAllFields () {
        this.$v.$touch()
      },
      setUserInputValue (fieldName, event) {
        let value = this.clearValue(event)
        this.$v[fieldName].$touch()
        this.$store.dispatch(
          'setUserInputValue',
          {
            fieldName,
            value: value
          }
        )
      }
    }
  }
</script>

<style scoped>

</style>

<!--:value="whereFindVacancy"-->
             <!--@input="setUserInputValue('whereFindVacancy', $event)"-->
            <!--:error-messages="inputFieldsErrors('whereFindVacancy')"-->
            <!--:items="workFoundedPlaces"-->
            <!--item-value="placeValue"-->
            <!--item-text="educationText"-->
            <!--clearable-->
