<template>
  <v-app>
    <router-view/>
    <template v-if="errorMessage">
      <v-snackbar
        :timeout="10000"
        :multi-line="true"
        :color="errorColor"
        @input="closeError"
        :value="true"
      >
        {{errorMessage}}
        <v-btn flat dark @click.native="closeError"><v-icon>close</v-icon></v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
  export default {
    name: 'App',
    computed: {
      errorMessage () {
        return this.$store.getters.errorMessage
      },
      errorColor () {
        return this.$store.getters.errorLevelColor
      }
    },
    methods: {
      closeError () {
        this.$store.dispatch('clearError')
      }
    }
  }
</script>
