<template>
    <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex shrink>
        <v-text-field
          :prepend-icon="'email'"
          :label="startedPageEmailLabelText"
          :placeholder="startedPageEmailPlaceholderText"
          :hint="startedPageEmailHintText"
          :error-messages="inputFieldsErrors('email')"
          v-model.trim.lazy="email"
          @blur="$v.email.$touch"
        ></v-text-field>
        <v-btn
          large
          color="secondary"
          @click="getQuestionnaireLink"
          :disabled="!!retryCountdown"
          :loading="!!retryCountdown"
        >
          {{ getMailLinkQuestionnaireButtonLabelText }}
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import { required, email } from 'vuelidate/lib/validators'
  export default {
    name: 'EmailStartedQuestionnairePage',
    mixins: [validationMixin],
    validations: {
      email: {
        required,
        email
      }
    },
    data () {
      return {
        email: '',
        retryCountdown: 0,
        retryCountdownTimer: null
      }
    },
    computed: {
      ...mapGetters([
        'getMailLinkQuestionnaireButtonLabelText',
        'startedPageEmailPlaceholderText',
        'startedPageEmailHintText',
        'checkValidDataErrorText'
      ]),
      startedPageEmailRetryCountdownTimerText () {
        return this.$store.getters.startedPageEmailRetryCountdownTimerText
      },
      startedPageEmailLabelText () {
        return (!this.retryCountdown) ? this.$store.getters.startedPageEmailLabelText
          : this.$store.getters.startedPageEmailRetryCountdownTimerText(this.retryCountdown)
      },
      inputFieldsErrors () {
        return fieldName => this.$v[fieldName].$dirty
          ? this.$store.getters.textFieldErrorMessages
            .filter(errMsgObj => this.$v[fieldName][errMsgObj.validatorKey] === false)
            .map(errMsgObj => errMsgObj.errorText)
          : []
      }
    },
    methods: {
      getQuestionnaireLink () {
        this.$v.email.$touch()
        if (this.$v.$invalid) {
          this.$store.dispatch(
            'setError',
            {
              message: this.checkValidDataErrorText,
              level: this.$store.getters.errorLevels.WARN
            })
        } else {
          this.$store.dispatch('sendMailWithNewQuestionnaireLink', this.email)
          this.retryCountdown = 30
          if (!this.retryCountdownTimer) {
            this.retryCountdownTimer = setInterval(() => {
              if (this.retryCountdown > 0) {
                this.retryCountdown--
              } else {
                clearInterval(this.retryCountdownTimer)
                this.retryCountdownTimer = null
              }
            }, 1000)
          }
          console.debug('getQuestionnaireLink')
        }
      }
    },
    beforeDestroy () {
      if (this.retryCountdownTimer) {
        clearInterval(this.retryCountdownTimer)
        this.retryCountdownTimer = null
      }
    }
  }
</script>

<style scoped>

</style>
